## Imports

In [ ]:
%load_ext autoreload
%autoreload 2

import anthropic
from dotenv import load_dotenv
import pandas as pd
import pickle
import re
import time

# Expects this file and eval.py to be in the same folder:
from eval import DATA, evaluate, bulk_evaluate

# Expects ANTHROPIC_API_KEY to be provided in .env file in user's home directory
load_dotenv()

mbpp = DATA["mbpp"]  # train, validation, and test
humaneval = DATA["openai_humaneval"]  # test only

## Helpers

In [2]:

RESULTS_PATH = "./results/"

def save_pickle(object, to):
    with open(to, "wb") as f:
        pickle.dump(object, f)
    
def load_pickle(from_):
    with open(from_, "rb") as f:
        return pickle.load(f)

def get_canonical_solutions(dataset, split):
    assert dataset in ("mbpp", "openai_humaneval")

    if dataset == "mbpp":
        mbpp = DATA["mbpp"]
        return [
            "# " + task["text"] + "\n" + task["code"] for task in mbpp[split]
        ]
    else:  # humaneval
        humaneval = DATA["openai_humaneval"]
        return [
            task["prompt"] + task["canonical_solution"] for task in humaneval["test"]
        ]

def get_expected_function_names(dataset, split):
    assert dataset in ("mbpp", "openai_humaneval")

    if dataset == "mbpp":
        mbpp = DATA["mbpp"]
        return [
            re.findall(
                "assert\s*\(?\w+\s*\(",
                task["test_list"][0]
            )[-1].replace("assert", "").replace("(", "").strip()
            for task in mbpp[split]
        ]
    else:  # humaneval
        humaneval = DATA["openai_humaneval"]
        return [
            task["entry_point"]
            for task in humaneval["test"]
        ]

def check_results_for_errors(results, result_ids):
    print(len(results))
    errors = [i for i, result in zip(result_ids, results) if result == "ERROR"]
    print(len(errors))
    return errors

## Prompts

In [3]:
BASIC_SYSTEM_PROMPT = "Refactor the given Python program to a more readable, efficient, and maintainable one. You can assume that the given program is semantically correct. Do not change the external behavior of the program, and keep the syntactic and semantic correctness. Python programs should be in a code block. Do not explain anything in natural language."
CLAUDE_PROMPT = (BASIC_SYSTEM_PROMPT + "\n\nPut your response in a markdown code block. Respond with only the code block. Don't explain the changes made.")

# ~18% tests passed
v1_prompt = CLAUDE_PROMPT

# ~28% tests passed
v2_prompt = """
Refactor the following Python program to a more readable, efficient, and maintainable one:
 - The given program is correct but needs improvement
 - DO NOT change the name of the program
 - DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.)
 - Put your response in a markdown code block
 - Respond with only the code block
 - Don't explain the changes made

Following the above rules is CRITICALLY IMPORTANT to ensure the program continues to work as expected for users!
""".strip()

# ~71% tests passed
v3_prompt = """
Refactor the following Python program to a more readable, efficient, and maintainable one:
 - The given program is correct but needs improvement
 - DO NOT change the name of the program
 - DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.)
 - Put your response in a markdown code block
 - Respond with only the code block
 - Don't explain the changes made

Refactor only according to these guidelines. Again, do not change the name of the function, including changing capitalization.
""".strip()

# 75.55555555555555% tests passed
v4_prompt = """
Refactor the following Python program to a more readable, efficient, and maintainable one:
 - The given program is correct but needs improvement
 - DO NOT change the name of the program
 - DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.)
 - Put your response in a markdown code block
 - Respond with only the code block
 - Don't explain the changes made

Again, do not change the name of the function in any way. The function name should remain "{function_name}".
""".strip()

# 71.11111111111111% tests passed
v5_prompt = """
Refactor the following Python program to a more readable, efficient, and maintainable one. The given program is correct but needs improvement. DO NOT change the name of the program. DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.). Put your response in a markdown code block. Respond with only the code block. Don't explain the changes made.

Again, do not change the name of the function in any way. The function name should remain `{function_name}`.
""".strip()

# 74.44444444444445% tests passed
v6_prompt = """
Refactor the following Python program to a more readable, efficient, and maintainable one:
 - The given program is correct but needs improvement
 - DO NOT change the name of the program
 - DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.)
 - Put your response in a markdown code block
 - Respond with only the code block
 - Don't explain the changes made

Again, do not change the name of the function in any way. The function name should remain `{function_name}`.

Also, don't forget to import any packages you use (e.g. `os`, `re`, `sys`)!
""".strip()

# 74.44444444444445% tests passed
v7_prompt = """
Refactor the following Python program to a more readable, efficient, and maintainable one:
 - The given program is correct but needs improvement
 - DO NOT change the name of the program
 - DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.)
 - Put your response in a markdown code block
 - Respond with only the code block
 - Don't explain the changes made
 - Don't forget to import any packages you use (e.g. `os`, `re`, `sys`)

Again, do not change the name of the function in any way. The function name should remain "{function_name}".
""".strip()

# 74.44444444444445% tests passed
v8_prompt = """
Refactor the following Python program to a more readable, efficient, and maintainable one:
 - The given program is correct but needs improvement
 - DO NOT change the name of the program
 - DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.)
 - Put your response in a markdown code block
 - Respond with only the code block
 - Don't explain the changes made
 - If you use any packages (e.g. `os`, `re`, `sys`), don't forget to import them

Again, be careful not to change the function name! The function name should remain `{function_name}`.
""".strip()

current_prompt = v8_prompt
current_prompt_name = "v4_prompt"
print(current_prompt)

Refactor the following Python program to a more readable, efficient, and maintainable one:
 - The given program is correct but needs improvement
 - DO NOT change the name of the program
 - DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.)
 - Put your response in a markdown code block
 - Respond with only the code block
 - Don't explain the changes made
 - If you use any packages (e.g. `os`, `re`, `sys`), don't forget to import them

Again, be careful not to change the function name! The function name should remain `{function_name}`.

## Generation Helpers

In [44]:
def refactor(code, model="claude-3-haiku-20240307", system_prompt=CLAUDE_PROMPT, max_tokens=1000, temperature=1e-8):
    """
    temperature = Amount of randomness injected into the response. Ranges from
        0.0 to 1.0. Use temperature closer to 0.0 for analytical / multiple
        choice, and closer to 1.0 for creative and generative tasks. Anthropic
        API defaults to 1.0 [1]. Here we default to 1e-8 or very close to 0.0,
        but not exactly 0.0. This is we observed some randomness even a 0.0.
        Anthropic acknowledges this in their documentation [1]. See [2] for a
        similar dicussion for the GPT API. We use the very low, but not zero
        temperature based on that discussion, the empirical results shown there,
        and our own testing.
        Sources:
         1. https://docs.anthropic.com/claude/reference/complete_post#:~:text=to%20stop%20generating.-,temperature,-number
         2. https://community.openai.com/t/why-the-api-output-is-inconsistent-even-after-the-temperature-is-set-to-0/329541
    """
    client = anthropic.Anthropic()
    message = client.messages.create(
        model=model,
        max_tokens=max_tokens,
        temperature=temperature,
        system=system_prompt,
        messages=[{
            "role": "user",
            "content": [{"type": "text", "text": code}]
        }]
    )
    return message.content[0].text.strip()

def extract_from_code_block(raw_generation):
    assert raw_generation.startswith("```")
    assert raw_generation.endswith("```")

    # Simply remove first and last line
    return "\n".join(raw_generation.split("\n")[1:-1])

def select_refactoring_rules(code, seconds_between_generations=2):
    system_prompt = (
        "You are an expert programmer. Given the code below, pick the most suitable refactoring rule from the list of rules copied below.\n"
        "You MUST follow these requirements: \n"
        "1) Only pick one rule and 2) Only output the number of the rule you have chosen\n"
        "List of Rules:\n"
        "1. Use a formatted string.\n"
        "2. Use a built-in (i.e., radians) function.\n"
        "3. Use a logical operator instead of a nested if.\n"
        "4. Use a for-loop instead of a while-loop.\n"
        "5. Use list comprehension instead of a for-loop.\n"
        "6. Use the map function instead of list comprehension."
        "7. Use a throwaway variable.\n"
        "8. Use the enumerate function instead of the range function.\n"
        "9. Use the zip function instead of the range function.\n"
        "10. Use a ternary operator instead of an if-branch.\n"
        " 11. Merge repeated ifs.\n"
        " 12. Merge dictionary assignments.\n"
        " 13. Remove unnecessary calls to dict.items().\n"
        " 14. Remove str() from calls to print().\n"
        " 15. Flatten nested try.\n"
        " 16. Convert any to in."
    )
    output_texts = []
    for i, code_block in enumerate(code):
        print(i)
        if i > 0:
            # To avoid hitting the Claude API rate limit:
            time.sleep(seconds_between_generations)
        
        raw_generation = refactor(
            code_block,
            system_prompt=system_prompt
        )
        output_texts.append(raw_generation)

    return output_texts

def extract_rule(output):
    # Finding the first number in the specified range
    found_numbers = re.findall(r'\b(?:1[0-6]|[1-9])\b', output)
    return int(found_numbers[0]) if found_numbers else None

RULES = {
    1: "Use a formatted string",
    2: "Use a built-in (i.e., radians) function",
    3: "Use a logical operator instead of a nested if",
    4: "Use a for-loop instead of a while-loop",
    5: "Use list comprehension instead of a for-loop",
    6: "Use the map function instead of list comprehension",
    7: "Use a throwaway variable",
    8: "Use the enumerate function instead of the range function",
    9: "Use the zip function instead of the range function",
    10: "Use a ternary operator instead of an if-branch",
    11: "Merge repeated ifs",
    12: "Merge dictionary assignments",
    13: "Remove unnecessary calls to dict.items()",
    14: "Remove str() from calls to print()",
    15: "Flatten nested try",
    16: "Convert any to in."
}

def generate_output_with_rule(code, rules, function_names, seconds_between_generations=2):
    output_texts = []
    for i, (code_block, rule, function_name) in enumerate(zip(code, rules, function_names)):
        print(i)
        if i > 0:
            # To avoid hitting the Claude API rate limit:
            time.sleep(seconds_between_generations)
        
        rule_prompt = (
            f"""
            You are an expert programmer. Please refactor the following Python program to a more readable, efficient, and maintainable one:
            - The given program is correct but needs improvement
            - MAKE SURE TO follow these given refactoring rules: {RULES[rule]}
            - DO NOT change the name of the program
            - DO NOT change the input or output behavior of the program (e.g., number of inputs / outputs, input / output types, etc.)
            - Put your response in a markdown code block
            - Respond with only the code block
            - Don't explain the changes made

            Again, do not change the name of the function in any way. The function name should remain "{function_name}".
            """.strip()
        )
        
        raw_generation = refactor(
            code_block,
            system_prompt=rule_prompt
        )
        result = extract_from_code_block(raw_generation)
        output_texts.append(result)

    return output_texts

## Zero-Shot

### HumanEval Generation

In [5]:
canonical_solutions = [
    task["prompt"] + task["canonical_solution"] for task in humaneval["test"]
]

In [11]:
# WARNING: Running this cell will delete all your generations / evals. Be sure
#   you want to do this!
# all_generations = []
# all_evals = []

In [ ]:

# WARNNG: Very slow step:
assert len(all_generations) == len(all_evals)

i = len(all_evals)
while i < len(canonical_solutions):
    print(i)

    # Call Claude API to refactor the code:
    raw_generation = refactor(canonical_solutions[i])
    generation = extract_from_code_block(raw_generation)
    all_generations.append(generation)

    # To avoid hitting the Claude API rate limit, buy time by doing the eval
    # immediately after generation:
    all_evals.append(evaluate(
        dataset="openai_humaneval",
        split="test",
        task_id=i,
        code=all_generations[i]
    ))
    i += 1

    # Every 10, Save to pickle just in case
    if i % 10 == 0:
        save_pickle(all_generations, RESULTS_PATH + "openai_humaneval_test_claude_3_haiku_0_shot_in_progress_generations.pkl")
        save_pickle(all_evals, RESULTS_PATH + "openai_humaneval_test_claude_3_haiku_0_shot_in_progress_evals.pkl")

In [69]:
df = pd.DataFrame(all_evals)
df.insert(3, "model", "claude_3_haiku_0_shot")
df.insert(4, "code", all_generations)
df

,dataset,split,task_id,model,code,result,avg_test_time,passed_tests,compiled,loc,...,N2,vocabulary,length,calculated_length,volume,difficulty,effort,time,bugs,MI
0,openai_humaneval,test,0,claude_3_haiku_0_shot,from typing import List\n\ndef has_close_eleme...,passed,0.000200,True,True,18,...,6,9,9,20.264663,28.529325,1.50,42.793988,2.377444,0.009510,92.948976
1,openai_humaneval,test,1,claude_3_haiku_0_shot,from typing import List\n\ndef separate_paren_...,passed,0.000097,True,True,33,...,5,6,8,10.000000,20.679700,1.25,25.849625,1.436090,0.006893,91.833863
2,openai_humaneval,test,2,claude_3_haiku_0_shot,def truncate_number(number: float) -> float:\n...,passed,0.000065,True,True,15,...,2,3,3,2.000000,4.754888,0.50,2.377444,0.132080,0.001585,55.567861
3,openai_humaneval,test,3,claude_3_haiku_0_shot,from typing import List\n\ndef below_zero(oper...,passed,0.000135,True,True,11,...,4,6,6,10.000000,15.509775,1.00,15.509775,0.861654,0.005170,71.694386
4,openai_humaneval,test,4,claude_3_haiku_0_shot,from typing import List\n\ndef calculate_mean_...,failed: name 'mean_absolute_deviation' is not ...,NaN,False,True,17,...,6,8,9,17.509775,27.000000,1.00,27.000000,1.500000,0.009000,87.277819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,openai_humaneval,test,159,claude_3_haiku_0_shot,"def eat(number_eaten, needed, remaining):\n ...",failed: Error,NaN,False,True,15,...,4,6,6,10.000000,15.509775,1.00,15.509775,0.861654,0.005170,77.260164
160,openai_humaneval,test,160,claude_3_haiku_0_shot,"def do_algebra(operator, operand):\n """"""\n ...",passed,0.000112,True,True,23,...,10,15,15,44.828921,58.603359,2.50,146.508397,8.139355,0.019534,85.425318
161,openai_humaneval,test,161,claude_3_haiku_0_shot,"def solve(s):\n """"""\n Reverses the case ...",passed,0.000084,True,True,14,...,2,4,4,4.000000,8.000000,1.00,8.000000,0.444444,0.002667,97.852090
162,openai_humaneval,test,162,claude_3_haiku_0_shot,import hashlib\n\ndef string_to_md5(text: str)...,passed,0.000064,True,True,12,...,1,2,2,0.000000,2.000000,0.50,1.000000,0.055556,0.000667,100.000000
163,openai_humaneval,test,163,claude_3_haiku_0_shot,"def generate_integers(a: int, b: int) -> list[...",passed,0.000092,True,True,13,...,6,9,9,20.264663,28.529325,1.50,42.793988,2.377444,0.009510,80.289730

In [71]:
# Finally, when everything looks good save the data. Will overwrite previously
# saved data at this location. Be sure you want to do this!
# df.to_csv(RESULTS_PATH + "openai_humaneval_test_claude_3_haiku_0_shot.csv")

### MBPP Generation

#### Test

In [4]:
canonical_solutions = [
    "# " + task["text"] + "\n" + task["code"] for task in mbpp["test"]
]

In [13]:
# WARNING: Running this cell will delete all your generations / evals. Be sure
#   you want to do this!
# all_generations = []
# all_evals = []

In [ ]:
# WARNNG: Very slow step:
assert len(all_generations) == len(all_evals)

i = len(all_evals)
while i < len(canonical_solutions):
    print(i)

    # Call Claude API to refactor the code:
    raw_generation = refactor(canonical_solutions[i])
    generation = extract_from_code_block(raw_generation)
    all_generations.append(generation)

    # To avoid hitting the Claude API rate limit, buy time by doing the eval
    # immediately after generation:
    all_evals.append(evaluate(
        dataset="mbpp",
        split="test",
        task_id=i,
        code=all_generations[i]
    ))
    i += 1

    # Every 10, Save to pickle just in case
    if i % 10 == 0:
        save_pickle(all_generations, RESULTS_PATH + "mbpp_test_claude_3_haiku_0_shot_in_progress_generations.pkl")
        save_pickle(all_evals, RESULTS_PATH + "mbpp_test_claude_3_haiku_0_shot_in_progress_evals.pkl")

In [37]:
df = pd.DataFrame(all_evals)
df.insert(3, "model", "claude_3_haiku_0_shot")
df.insert(4, "code", all_generations)
df

,dataset,split,task_id,model,code,result,compiled,passed_tests,avg_test_time,loc,...,N2,vocabulary,length,calculated_length,volume,difficulty,effort,time,bugs,MI
0,mbpp,test,0,claude_3_haiku_0_shot,"def remove_occurrences(string, char):\n res...",failed: name 'remove_Occ' is not defined,True,False,NaN,17,...,12,10,18,23.509775,59.794706,4.000000,239.178823,13.287712,0.019932,61.616668
1,mbpp,test,1,claude_3_haiku_0_shot,"def sort_matrix(matrix):\n """"""\n Sorts a...",passed,True,True,0.000157,11,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
2,mbpp,test,2,claude_3_haiku_0_shot,from collections import Counter\n\ndef count_m...,failed: name 'count_common' is not defined,True,False,NaN,14,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
3,mbpp,test,3,claude_3_haiku_0_shot,"def calculate_triangular_prism_volume(length, ...",failed: name 'find_Volume' is not defined,True,False,NaN,13,...,6,8,9,17.509775,27.000000,1.000000,27.000000,1.500000,0.009000,51.650873
4,mbpp,test,4,claude_3_haiku_0_shot,"def split_at_lowercase(text):\n """"""\n Sp...",failed: name 'split_lowerstring' is not defined,True,False,NaN,11,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,mbpp,test,495,claude_3_haiku_0_shot,"def permutation_coefficient(n, k):\n """"""\n ...",passed,True,True,0.000060,27,...,28,18,42,58.529325,175.136850,7.000000,1225.957950,68.108775,0.058379,87.544796
496,mbpp,test,496,claude_3_haiku_0_shot,"def remove_words(original_list, words_to_remov...",passed,True,True,0.000085,2,...,2,3,3,2.000000,4.754888,0.500000,2.377444,0.132080,0.001585,88.288489
497,mbpp,test,497,claude_3_haiku_0_shot,"def check_common_order(list1, list2):\n """"""...",failed: name 'same_order' is not defined,True,False,NaN,13,...,6,7,9,13.609640,25.266194,1.200000,30.319433,1.684413,0.008422,69.363638
498,mbpp,test,498,claude_3_haiku_0_shot,def average_odd(n):\n if n % 2 == 0:\n ...,failed: name 'average_Odd' is not defined,True,False,NaN,13,...,14,13,21,35.161259,77.709234,6.000000,466.255404,25.903078,0.025903,64.545413
499,mbpp,test,499,claude_3_haiku_0_shot,def count_subsequences_with_product_less_than_...,failed: name 'no_of_subsequences' is not defined,True,False,NaN,11,...,27,19,41,63.615491,174.165028,6.230769,1085.182098,60.287894,0.058055,62.820436

In [38]:
# Finally, when everything looks good save the data. Will overwrite previously
# saved data at this location. Be sure you want to do this!
# df.to_csv(RESULTS_PATH + "mbpp_test_claude_3_haiku_0_shot.csv")

#### Validate

In [19]:
dataset = "mbpp"
split = "validation"

canonical_solutions = get_canonical_solutions(dataset, split)
function_names = get_expected_function_names(dataset, split)
assert len(canonical_solutions) == len(function_names)

print("n =", len(canonical_solutions))
print(current_prompt.format(function_name=function_names[0]))

n = 90
Refactor the following Python program to a more readable, efficient, and maintainable one:
 - The given program is correct but needs improvement
 - DO NOT change the name of the program
 - DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.)
 - Put your response in a markdown code block
 - Respond with only the code block
 - Don't explain the changes made
 - If you use any packages (e.g. `os`, `re`, `sys`), don't forget to import them

Again, be careful not to change the function name! The function name should remain `find_Min_Sum`.

In [207]:
# i = 35
# raw_generation = refactor(
#     canonical_solutions[i],
#     system_prompt=current_prompt.format(function_name=function_names[i])
# )
# generation = extract_from_code_block(raw_generation)
# print(generation)

def last_occurence_char(string, char):
    try:
        return string.rindex(char) + 1
    except ValueError:
        return None

In [209]:
# WARNING: Running this cell will delete all your generations. Be sure you want to do this!
all_generations = []

In [212]:
# WARNNG: Slow step:
i = len(all_generations)
while i < len(canonical_solutions):
    print(i)

    # Call Claude API to refactor the code:
    raw_generation = refactor(
        canonical_solutions[i],
        system_prompt=current_prompt.format(function_name=function_names[i])
    )
    generation = extract_from_code_block(raw_generation)
    all_generations.append(generation)
    i += 1

    # Every 10, Save to pickle just in case
    if i % 10 == 0:
        save_pickle(all_generations, RESULTS_PATH + "mbpp_validation_claude_3_haiku_0_shot_in_progress_generations.pkl")

71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89

In [213]:
execution_ids_backup = []
execution_results_backup = []

results = bulk_evaluate(
    dataset="mbpp",
    split="validation",
    code=all_generations,
    execution_ids_backup=execution_ids_backup,
    execution_results_backup=execution_results_backup
)

Sending 90 jobs for execution...
90 jobs sent
Fetching 90 job results...
Fetching 1/90...
Fetching 2/90...
Fetching 3/90...
Fetching 4/90...
Fetching 5/90...
Fetching 6/90...
Fetching 7/90...
Fetching 8/90...
Fetching 9/90...
Fetching 10/90...
Fetching 11/90...
Fetching 12/90...
Fetching 13/90...
Fetching 14/90...
Fetching 15/90...
Fetching 16/90...
Fetching 17/90...
Fetching 18/90...
Fetching 19/90...
Fetching 20/90...
Fetching 21/90...
Fetching 22/90...
Fetching 23/90...
Fetching 24/90...
Fetching 25/90...
Fetching 26/90...
Fetching 27/90...
Fetching 28/90...
Fetching 29/90...
Fetching 30/90...
Fetching 31/90...
Fetching 32/90...
Fetching 33/90...
Fetching 34/90...
Fetching 35/90...
Fetching 36/90...
Fetching 37/90...
Fetching 38/90...
Fetching 39/90...
Fetching 40/90...
Fetching 41/90...
Fetching 42/90...
Fetching 43/90...
Fetching 44/90...
Fetching 45/90...
Fetching 46/90...
Fetching 47/90...
Fetching 48/90...
Fetching 49/90...
Fetching 50/90...
Fetching 51/90...
Fetching 52/90...
Fetching 53/90...
Fetching 54/90...
Fetching 55/90...
Fetching 56/90...
Fetching 57/90...
Fetching 58/90...
Fetching 59/90...
Fetching 60/90...
Fetching 61/90...
Fetching 62/90...
Fetching 63/90...
Fetching 64/90...
Fetching 65/90...
Fetching 66/90...
Fetching 67/90...
Fetching 68/90...
Fetching 69/90...
Fetching 70/90...
Fetching 71/90...
Fetching 72/90...
Fetching 73/90...
Fetching 74/90...
Fetching 75/90...
Fetching 76/90...
Fetching 77/90...
Fetching 78/90...
Fetching 79/90...
Fetching 80/90...
Fetching 81/90...
Fetching 82/90...
Fetching 83/90...
Fetching 84/90...
Fetching 85/90...
Fetching 86/90...
Fetching 87/90...
Fetching 88/90...
Fetching 89/90...
Fetching 90/90...
90 job results fetched

In [214]:
df = pd.DataFrame(results)
df.insert(3, "model", f"claude_3_haiku_0_shot_{current_prompt_name}")
df.insert(4, "code", all_generations)
df

,dataset,split,task_id,model,code,result,compiled,passed_tests,avg_test_time,loc,...,N2,vocabulary,length,calculated_length,volume,difficulty,effort,time,bugs,MI
0,mbpp,validation,0,claude_3_haiku_0_shot_v8_prompt,def find_Min_Sum(num):\n factors = []\n ...,passed,True,True,0.000028,9,...,12,13,18,35.161259,66.607915,5.142857,342.554991,19.030833,0.022203,65.877825
1,mbpp,validation,1,claude_3_haiku_0_shot_v8_prompt,"def flatten(nested_tuple):\n """"""Flatten a n...",passed,True,True,0.000125,14,...,2,3,3,2.000000,4.754888,0.500000,2.377444,0.132080,0.001585,70.421123
2,mbpp,validation,2,claude_3_haiku_0_shot_v8_prompt,"def add_str(test_tuple, string_to_add):\n r...",passed,True,True,0.000089,6,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
3,mbpp,validation,3,claude_3_haiku_0_shot_v8_prompt,def sum_elements(tuples):\n return sum(sum(...,failed: 'int' object is not iterable,True,False,NaN,2,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
4,mbpp,validation,4,claude_3_haiku_0_shot_v8_prompt,"def modular_sum(arr, n, m):\n if n > m:\n ...",failed:,True,False,NaN,17,...,10,11,15,27.651484,51.891474,2.857143,148.261355,8.236742,0.017297,62.047759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,mbpp,validation,85,claude_3_haiku_0_shot_v8_prompt,def tuple_size(tuples):\n total_size = 0\n ...,failed: name 'sys' is not defined,True,False,NaN,5,...,2,3,3,2.000000,4.754888,0.500000,2.377444,0.132080,0.001585,79.742343
86,mbpp,validation,86,claude_3_haiku_0_shot_v8_prompt,"def find_kth(arr1, arr2, m, n, k):\n if m >...",passed,True,True,0.000097,22,...,34,24,51,89.138353,233.833088,7.000000,1636.831613,90.935090,0.077944,55.226892
87,mbpp,validation,87,claude_3_haiku_0_shot_v8_prompt,"def armstrong_number(num):\n """"""\n Check...",passed,True,True,0.000028,32,...,18,15,27,44.039100,105.486046,6.000000,632.916276,35.162015,0.035162,87.127054
88,mbpp,validation,88,claude_3_haiku_0_shot_v8_prompt,def sum_average(n):\n total = n * (n + 1) /...,passed,True,True,0.000034,4,...,8,10,12,23.509775,39.863137,2.666667,106.301699,5.905650,0.013288,75.524960
89,mbpp,validation,89,claude_3_haiku_0_shot_v8_prompt,"def is_even(num: int) -> bool:\n """"""\n C...",failed: name 'is_Even' is not defined,True,False,NaN,11,...,4,6,6,10.000000,15.509775,1.000000,15.509775,0.861654,0.005170,61.515063

In [215]:
df["passed_tests"].mean()

0.7444444444444445

In [216]:
# Finally, when everything looks good save the data. Will overwrite previously
# saved data at this location. Be sure you want to do this!
df.to_csv(RESULTS_PATH + f"mbpp_validation_claude_3_haiku_0_shot_{current_prompt_name}.csv")

In [217]:
df.query("not passed_tests")

,dataset,split,task_id,model,code,result,compiled,passed_tests,avg_test_time,loc,...,N2,vocabulary,length,calculated_length,volume,difficulty,effort,time,bugs,MI
3,mbpp,validation,3,claude_3_haiku_0_shot_v8_prompt,def sum_elements(tuples):\n return sum(sum(...,failed: 'int' object is not iterable,True,False,NaN,2,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
4,mbpp,validation,4,claude_3_haiku_0_shot_v8_prompt,"def modular_sum(arr, n, m):\n if n > m:\n ...",failed:,True,False,NaN,17,...,10,11,15,27.651484,51.891474,2.857143,148.261355,8.236742,0.017297,62.047759
12,mbpp,validation,12,claude_3_haiku_0_shot_v8_prompt,def check_string(input_str):\n requirements...,failed:,True,False,NaN,13,...,13,17,20,56.105716,81.749257,2.000000,163.498514,9.083251,0.027250,66.694293
16,mbpp,validation,16,claude_3_haiku_0_shot_v8_prompt,"def get_pairs_count(arr, target_sum):\n cou...",failed: get_pairs_count() takes 2 positional a...,True,False,NaN,11,...,6,9,9,20.264663,28.529325,1.500000,42.793988,2.377444,0.009510,68.590709
22,mbpp,validation,22,claude_3_haiku_0_shot_v8_prompt,"def remove_datatype(test_tuple, data_type):\n ...",failed:,True,False,NaN,2,...,1,2,2,0.000000,2.000000,0.500000,1.000000,0.055556,0.000667,90.922018
23,mbpp,validation,23,claude_3_haiku_0_shot_v8_prompt,"def search_literal(pattern, text):\n try:\n...",failed: name 're' is not defined,True,False,NaN,9,...,4,2,8,0.000000,8.000000,2.000000,16.000000,0.888889,0.002667,72.457231
24,mbpp,validation,24,claude_3_haiku_0_shot_v8_prompt,"def topbottom_surfacearea(radius):\n """"""\n ...",failed:,True,False,NaN,11,...,4,6,6,10.000000,15.509775,1.000000,15.509775,0.861654,0.005170,61.515063
29,mbpp,validation,29,claude_3_haiku_0_shot_v8_prompt,"def find_Diff(arr):\n """"""\n Find the dif...",failed: find_Diff() takes 1 positional argumen...,True,False,NaN,18,...,4,6,6,10.000000,15.509775,1.000000,15.509775,0.861654,0.005170,97.336698
34,mbpp,validation,34,claude_3_haiku_0_shot_v8_prompt,def toggle_F_and_L_bits(n):\n if n == 1:\n ...,failed:,True,False,NaN,6,...,14,14,21,39.509775,79.954453,5.250000,419.760880,23.320049,0.026651,98.431625
36,mbpp,validation,36,claude_3_haiku_0_shot_v8_prompt,def Total_Hamming_Distance(n):\n total_dist...,failed:,True,False,NaN,6,...,10,8,15,17.509775,45.000000,1.666667,75.000000,4.166667,0.015000,71.046112
39,mbpp,validation,39,claude_3_haiku_0_shot_v8_prompt,"def find_Max(arr):\n left, right = 0, len(a...",failed: find_Max() takes 1 positional argument...,True,False,NaN,12,...,14,15,21,44.828921,82.044703,3.500000,287.156459,15.953137,0.027348,65.378472
43,mbpp,validation,43,claude_3_haiku_0_shot_v8_prompt,def split_odd_numbers(numbers):\n return [n...,failed: name 'Split' is not defined,True,False,NaN,2,...,4,6,6,10.000000,15.509775,1.000000,15.509775,0.861654,0.005170,84.693198
44,mbpp,validation,44,claude_3_haiku_0_shot_v8_prompt,def difference(n):\n sum_of_cubes = (n * (n...,failed:,True,False,NaN,4,...,22,19,33,64.912609,140.181608,3.928571,550.713460,30.595192,0.046727,71.701023
50,mbpp,validation,50,claude_3_haiku_0_shot_v8_prompt,def assign_elements(test_list):\n result = ...,failed:,True,False,NaN,6,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
52,mbpp,validation,52,claude_3_haiku_0_shot_v8_prompt,def extract_values(text):\n return re.finda...,failed: name 're' is not defined,True,False,NaN,2,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
56,mbpp,validation,56,claude_3_haiku_0_shot_v8_prompt,"def is_sorted(lst):\n """"""\n Checks wheth...",failed: name 'issort_list' is not defined,True,False,NaN,14,...,6,8,9,16.364528,27.000000,1.800000,48.600000,2.700000,0.009000,91.208905
57,mbpp,validation,57,claude_3_haiku_0_shot_v8_prompt,def create_empty_list(length):\n return [{}...,failed: name 'empty_list' is not defined,True,False,NaN,2,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
63,mbpp,validation,63,claude_3_haiku_0_shot_v8_prompt,import math\n\ndef surfacearea_cylinder(radius...,failed:,True,False,NaN,17,...,14,13,21,37.974168,77.709234,2.100000,163.189392,9.066077,0.025903,88.102191
70,mbpp,validation,70,claude_3_haiku_0_shot_v8_prompt,"def surface_area(base, slant_height):\n """"""...",failed: name 'surface_Area' is not defined,True,False,NaN,12,...,8,9,12,20.264663,38.039100,2.000000,76.078200,4.226567,0.012680,53.747947
79,mbpp,validation,79,claude_3_haiku_0_shot_v8_prompt,"import cmath\n\ndef polar_rect(r, theta):\n ...",failed:,True,False,NaN,16,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
81,mbpp,validation,81,claude_3_haiku_0_shot_v8_prompt,"def binomial_coeff(n, k):\n """"""\n Calcul...",failed: name 'sum_Of_product' is not defined,True,False,NaN,16,...,15,15,23,46.053748,89.858484,2.727273,245.068592,13.614922,0.029953,91.483114
85,mbpp,validation,85,claude_3_haiku_0_shot_v8_prompt,def tuple_size(tuples):\n total_size = 0\n ...,failed: name 'sys' is not defined,True,False,NaN,5,...,2,3,3,2.000000,4.754888,0.500000,2.377444,0.132080,0.001585,79.742343
89,mbpp,validation,89,claude_3_haiku_0_shot_v8_prompt,"def is_even(num: int) -> bool:\n """"""\n C...",failed: name 'is_Even' is not defined,True,False,NaN,11,...,4,6,6,10.000000,15.509775,1.000000,15.509775,0.861654,0.005170,61.515063

In [218]:
task_id = 89
print(canonical_solutions[task_id])
print("-"*40)
print(all_generations[task_id])

# Write a python function to check whether the given number is even or not using bitwise operator.
def is_Even(n) :
    if (n^1 == n+1) :
        return True;
    else :
        return False;
----------------------------------------
def is_even(num: int) -> bool:
    """
    Checks whether the given number is even or not using bitwise operator.

    Args:
        num (int): The number to be checked.

    Returns:
        bool: True if the number is even, False otherwise.
    """
    return (num & 1) == 0

#### Train

In [20]:
dataset = "mbpp"
split = "train"

canonical_solutions = get_canonical_solutions(dataset, split)
function_names = get_expected_function_names(dataset, split)
assert len(canonical_solutions) == len(function_names)

print("n =", len(canonical_solutions))
print(current_prompt.format(function_name=function_names[0]))

n = 374
Refactor the following Python program to a more readable, efficient, and maintainable one:
 - The given program is correct but needs improvement
 - DO NOT change the name of the program
 - DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.)
 - Put your response in a markdown code block
 - Respond with only the code block
 - Don't explain the changes made
 - If you use any packages (e.g. `os`, `re`, `sys`), don't forget to import them

Again, be careful not to change the function name! The function name should remain `max_chain_length`.

In [21]:
print(canonical_solutions[370])
print("---")
print(function_names[370])

# Write a function to find the maximum number of segments of lengths a, b and c that can be formed from n.
def maximum_segments(n, a, b, c) :
	dp = [-1] * (n + 10)
	dp[0] = 0
	for i in range(0, n) :
		if (dp[i] != -1) :
			if(i + a <= n ):
				dp[i + a] = max(dp[i] + 1,
							dp[i + a])
			if(i + b <= n ):
				dp[i + b] = max(dp[i] + 1,
							dp[i + b])
			if(i + c <= n ):
				dp[i + c] = max(dp[i] + 1,
							dp[i + c])
	return dp[n]
---
maximum_segments

In [23]:
# WARNING: Running this cell will delete all your generations. Be sure you want to do this!
all_generations = []

In [24]:
# WARNNG: Slow step:
i = len(all_generations)
while i < len(canonical_solutions):
    print(i)

    # Call Claude API to refactor the code:
    raw_generation = refactor(
        canonical_solutions[i],
        system_prompt=current_prompt.format(function_name=function_names[i])
    )
    generation = extract_from_code_block(raw_generation)
    all_generations.append(generation)
    i += 1

    # Every 10, Save to pickle just in case
    if i % 10 == 0:
        save_pickle(all_generations, RESULTS_PATH + f"{dataset}_{split}_claude_3_haiku_0_shot_in_progress_generations.pkl")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373

In [ ]:
execution_ids_backup = []
execution_results_backup = []

results = bulk_evaluate(
    dataset=dataset,
    split=split,
    code=all_generations,
    execution_ids_backup=execution_ids_backup,
    execution_results_backup=execution_results_backup
)

In [53]:
df = pd.DataFrame(results)
df.insert(3, "model", f"claude_3_haiku_0_shot_{current_prompt_name}")
df.insert(4, "code", all_generations)
df

,dataset,split,task_id,model,code,result,avg_test_time,passed_tests,compiled,loc,...,N2,vocabulary,length,calculated_length,volume,difficulty,effort,time,bugs,MI
0,mbpp,train,0,claude_3_haiku_0_shot_v4_prompt,"class Pair:\n def __init__(self, a, b):\n ...",passed,0.000109,True,True,18,...,12,16,18,49.663388,72.000000,2.727273,196.363636,10.909091,0.024000,61.051817
1,mbpp,train,1,claude_3_haiku_0_shot_v4_prompt,def first_repeated_char(string):\n char_cou...,passed,0.000030,True,True,7,...,2,3,3,2.000000,4.754888,0.500000,2.377444,0.132080,0.001585,76.420208
2,mbpp,train,2,claude_3_haiku_0_shot_v4_prompt,"def get_ludic(n):\n ludics = list(range(1, ...",failed:,NaN,False,True,11,...,14,11,21,28.754888,72.648064,2.625000,190.701168,10.594509,0.024216,63.847273
3,mbpp,train,3,claude_3_haiku_0_shot_v4_prompt,"def reverse_words(input_string):\n """"""\n ...",passed,0.000032,True,True,14,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
4,mbpp,train,4,claude_3_haiku_0_shot_v4_prompt,def is_prime(num):\n if num < 2:\n r...,failed: name 'prime_num' is not defined,NaN,False,True,7,...,10,13,15,35.609640,55.506596,3.125000,173.458112,9.636562,0.018502,68.813126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,mbpp,train,369,claude_3_haiku_0_shot_v4_prompt,"def min_of_two(a, b):\n return min(a, b)",passed,0.000030,True,True,2,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
370,mbpp,train,370,claude_3_haiku_0_shot_v4_prompt,"def maximum_segments(n, a, b, c):\n dp = [0...",failed:,NaN,False,True,7,...,30,19,45,66.603359,191.156738,4.000000,764.626952,42.479275,0.063719,68.105859
371,mbpp,train,371,claude_3_haiku_0_shot_v4_prompt,"def concatenate_nested(test_tup1, test_tup2):\...",failed:,NaN,False,True,2,...,2,3,3,2.000000,4.754888,0.500000,2.377444,0.132080,0.001585,88.557495
372,mbpp,train,372,claude_3_haiku_0_shot_v4_prompt,"def left_rotate(string, rotation_count):\n ...",passed,0.000031,True,True,2,...,2,3,3,2.000000,4.754888,0.500000,2.377444,0.132080,0.001585,84.716246
373,mbpp,train,373,claude_3_haiku_0_shot_v4_prompt,def min_sum_path(triangle):\n n = len(trian...,passed,0.000069,True,True,12,...,16,13,25,35.609640,92.510993,5.000000,462.554965,25.697498,0.030837,63.880713

In [54]:
df["passed_tests"].mean()

0.7513368983957219

In [55]:
# Finally, when everything looks good save the data. Will overwrite previously
# saved data at this location. Be sure you want to do this!
df.to_csv(RESULTS_PATH + f"{dataset}_{split}_claude_3_haiku_0_shot_{current_prompt_name}.csv")

## Few-Shot

### HumanEval

In [30]:
dataset = "openai_humaneval"
split = "test"
model = "claude_3_haiku_few_shot"

canonical_solutions = get_canonical_solutions(dataset, split)
function_names = get_expected_function_names(dataset, split)

In [9]:
print("Expected =", len(canonical_solutions))
selected_refactoring_rules = select_refactoring_rules(canonical_solutions)

Expected = 164
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163

In [16]:
extraced_rules = list(map(extract_rule, selected_refactoring_rules))

In [29]:
all_generations = generate_output_with_rule(canonical_solutions, extraced_rules, function_names)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163

In [33]:
execution_ids_backup = []
execution_results_backup = []

results = bulk_evaluate(
    dataset=dataset,
    split=split,
    code=all_generations,
    execution_ids_backup=execution_ids_backup,
    execution_results_backup=execution_results_backup
)

Sending 164 jobs for execution...
164 jobs sent
Fetching 164 job results...
Fetching 1/164...
Fetching 2/164...
Fetching 3/164...
Fetching 4/164...
Fetching 5/164...
Fetching 6/164...
Fetching 7/164...
Fetching 8/164...
Fetching 9/164...
Fetching 10/164...
Fetching 11/164...
Fetching 12/164...
Fetching 13/164...
Fetching 14/164...
Fetching 15/164...
Fetching 16/164...
Fetching 17/164...
Fetching 18/164...
Fetching 19/164...
Fetching 20/164...
Fetching 21/164...
Fetching 22/164...
Fetching 23/164...
Fetching 24/164...
Fetching 25/164...
Fetching 26/164...
Fetching 27/164...
Fetching 28/164...
Fetching 29/164...
Fetching 30/164...
Fetching 31/164...
Fetching 32/164...
Fetching 33/164...
Fetching 34/164...
Fetching 35/164...
Fetching 36/164...
Fetching 37/164...
Fetching 38/164...
Fetching 39/164...
Fetching 40/164...
Fetching 41/164...
Fetching 42/164...
Fetching 43/164...
Fetching 44/164...
Fetching 45/164...
Fetching 46/164...
Fetching 47/164...
Fetching 48/164...
Fetching 49/164...
Fetching 50/164...
Fetching 51/164...
Fetching 52/164...
Fetching 53/164...
Fetching 54/164...
Fetching 55/164...
Fetching 56/164...
Fetching 57/164...
Fetching 58/164...
Fetching 59/164...
Fetching 60/164...
Fetching 61/164...
Fetching 62/164...
Fetching 63/164...
Fetching 64/164...
Fetching 65/164...
Fetching 66/164...
Fetching 67/164...
Fetching 68/164...
Fetching 69/164...
Fetching 70/164...
Fetching 71/164...
Fetching 72/164...
Fetching 73/164...
Fetching 74/164...
Fetching 75/164...
Fetching 76/164...
Fetching 77/164...
Fetching 78/164...
Fetching 79/164...
Fetching 80/164...
Fetching 81/164...
Fetching 82/164...
Fetching 83/164...
Fetching 84/164...
Fetching 85/164...
Fetching 86/164...
Fetching 87/164...
Fetching 88/164...
Fetching 89/164...
Fetching 90/164...
Fetching 91/164...
Fetching 92/164...
Fetching 93/164...
Fetching 94/164...
Fetching 95/164...
Fetching 96/164...
Fetching 97/164...
Fetching 98/164...
Fetching 99/164...
Fetching 100/164...
Fetching 101/164...
Fetching 102/164...
Fetching 103/164...
Fetching 104/164...
Fetching 105/164...
Fetching 106/164...
Fetching 107/164...
Fetching 108/164...
Fetching 109/164...
Fetching 110/164...
Fetching 111/164...
Fetching 112/164...
Fetching 113/164...
Fetching 114/164...
Fetching 115/164...
Fetching 116/164...
Fetching 117/164...
Fetching 118/164...
Fetching 119/164...
Fetching 120/164...
Fetching 121/164...
Fetching 122/164...
Fetching 123/164...
Fetching 124/164...
Fetching 125/164...
Fetching 126/164...
Fetching 127/164...
Fetching 128/164...
Fetching 129/164...
Fetching 130/164...
Fetching 131/164...
Fetching 132/164...
Fetching 133/164...
Fetching 134/164...
Fetching 135/164...
Fetching 136/164...
Fetching 137/164...
Fetching 138/164...
Fetching 139/164...
Fetching 140/164...
Fetching 141/164...
Fetching 142/164...
Fetching 143/164...
Fetching 144/164...
Fetching 145/164...
Fetching 146/164...
Fetching 147/164...
Fetching 148/164...
Fetching 149/164...
Fetching 150/164...
Fetching 151/164...
Fetching 152/164...
Fetching 153/164...
Fetching 154/164...
Fetching 155/164...
Fetching 156/164...
Fetching 157/164...
Fetching 158/164...
Fetching 159/164...
Fetching 160/164...
Fetching 161/164...
Fetching 162/164...
Fetching 163/164...
Fetching 164/164...
164 job results fetched

In [34]:
df = pd.DataFrame(results)
df.insert(3, "model", model)
df.insert(4, "code", all_generations)
df

,dataset,split,task_id,model,code,result,avg_test_time,passed_tests,compiled,loc,...,N2,vocabulary,length,calculated_length,volume,difficulty,effort,time,bugs,MI
0,openai_humaneval,test,0,claude_3_haiku_few_shot,from typing import List\n\ndef has_close_eleme...,passed,0.000185,True,True,15,...,6,9,9,20.264663,28.529325,1.500000,42.793988,2.377444,0.009510,95.214357
1,openai_humaneval,test,1,claude_3_haiku_few_shot,from typing import List\n\ndef separate_paren_...,passed,0.000088,True,True,26,...,10,9,15,20.264663,47.548875,2.500000,118.872188,6.604010,0.015850,89.398652
2,openai_humaneval,test,2,claude_3_haiku_few_shot,import math\n\ndef truncate_number(number: flo...,passed,0.000063,True,True,13,...,2,3,3,2.000000,4.754888,0.500000,2.377444,0.132080,0.001585,74.980907
3,openai_humaneval,test,3,claude_3_haiku_few_shot,from typing import List\n\ndef below_zero(oper...,failed:,NaN,False,True,5,...,4,6,6,10.000000,15.509775,1.000000,15.509775,0.861654,0.005170,78.261044
4,openai_humaneval,test,4,claude_3_haiku_few_shot,from typing import List\n\n\ndef mean_absolute...,passed,0.000092,True,True,17,...,8,10,12,24.406372,39.863137,1.714286,68.336807,3.796489,0.013288,92.200729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,openai_humaneval,test,159,claude_3_haiku_few_shot,"def eat(number, need, remaining):\n """"""\n ...",passed,0.000120,True,True,30,...,4,6,6,10.000000,15.509775,1.000000,15.509775,0.861654,0.005170,100.000000
160,openai_humaneval,test,160,claude_3_haiku_few_shot,"def do_algebra(operator, operand):\n """"""\n ...",passed,0.000114,True,True,29,...,2,3,3,2.000000,4.754888,0.500000,2.377444,0.132080,0.001585,53.370235
161,openai_humaneval,test,161,claude_3_haiku_few_shot,"def solve(s):\n """"""You are given a string s...",passed,0.000081,True,True,22,...,2,4,4,4.000000,8.000000,1.000000,8.000000,0.444444,0.002667,95.885515
162,openai_humaneval,test,162,claude_3_haiku_few_shot,"def string_to_md5(text):\n """"""\n Given a...",failed: name 'hashlib' is not defined,NaN,False,True,8,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
163,openai_humaneval,test,163,claude_3_haiku_few_shot,"def generate_integers(a, b):\n """"""\n Giv...",passed,0.000089,True,True,13,...,2,3,3,2.000000,4.754888,0.500000,2.377444,0.132080,0.001585,85.872858

In [35]:
df["compiled"].mean(), df["passed_tests"].mean()

(1.0, 0.7987804878048781)

In [36]:
# Finally, when everything looks good save the data. Will overwrite previously
# saved data at this location. Be sure you want to do this!
df.to_csv(RESULTS_PATH + f"{dataset}_{split}_{model}.csv")

### MBPP

#### Test

In [45]:
dataset = "mbpp"
split = "test"
model = "claude_3_haiku_few_shot"

canonical_solutions = get_canonical_solutions(dataset, split)
function_names = get_expected_function_names(dataset, split)
print("Expected =", len(canonical_solutions))

Expected = 500

In [46]:
selected_refactoring_rules = select_refactoring_rules(canonical_solutions)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499

In [47]:
extraced_rules = list(map(extract_rule, selected_refactoring_rules))

In [48]:
all_generations = generate_output_with_rule(canonical_solutions, extraced_rules, function_names)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499

In [49]:
execution_ids_backup = []
execution_results_backup = []

results = bulk_evaluate(
    dataset=dataset,
    split=split,
    code=all_generations,
    execution_ids_backup=execution_ids_backup,
    execution_results_backup=execution_results_backup
)

Sending 500 jobs for execution...
500 jobs sent
Fetching 500 job results...
Fetching 1/500...
Fetching 2/500...
Fetching 3/500...
Fetching 4/500...
Fetching 5/500...
Fetching 6/500...
Fetching 7/500...
Fetching 8/500...
Fetching 9/500...
Fetching 10/500...
Fetching 11/500...
Fetching 12/500...
Fetching 13/500...
Fetching 14/500...
Fetching 15/500...
Fetching 16/500...
Fetching 17/500...
Fetching 18/500...
Fetching 19/500...
Fetching 20/500...
Fetching 21/500...
Fetching 22/500...
Fetching 23/500...
Fetching 24/500...
Fetching 25/500...
Fetching 26/500...
Fetching 27/500...
Fetching 28/500...
Fetching 29/500...
Fetching 30/500...
Fetching 31/500...
Fetching 32/500...
Fetching 33/500...
Fetching 34/500...
Fetching 35/500...
Fetching 36/500...
Fetching 37/500...
Fetching 38/500...
Fetching 39/500...
Fetching 40/500...
Fetching 41/500...
Fetching 42/500...
Fetching 43/500...
Fetching 44/500...
Fetching 45/500...
Fetching 46/500...
Fetching 47/500...
Fetching 48/500...
Fetching 49/500...
Fetching 50/500...
Fetching 51/500...
Fetching 52/500...
Fetching 53/500...
Fetching 54/500...
Fetching 55/500...
Fetching 56/500...
Fetching 57/500...
Fetching 58/500...
Fetching 59/500...
Fetching 60/500...
Fetching 61/500...
Fetching 62/500...
Fetching 63/500...
Fetching 64/500...
Fetching 65/500...
Fetching 66/500...
Fetching 67/500...
Fetching 68/500...
Fetching 69/500...
Fetching 70/500...
Fetching 71/500...
Fetching 72/500...
Fetching 73/500...
Fetching 74/500...
Fetching 75/500...
Fetching 76/500...
Fetching 77/500...
Fetching 78/500...
Fetching 79/500...
Fetching 80/500...
Fetching 81/500...
Fetching 82/500...
Fetching 83/500...
Fetching 84/500...
Fetching 85/500...
Fetching 86/500...
Fetching 87/500...
Fetching 88/500...
Fetching 89/500...
Fetching 90/500...
Fetching 91/500...
Fetching 92/500...
Fetching 93/500...
Fetching 94/500...
Fetching 95/500...
Fetching 96/500...
Fetching 97/500...
Fetching 98/500...
Fetching 99/500...
Fetching 100/500...
Fetching 101/500...
Fetching 102/500...
Fetching 103/500...
Fetching 104/500...
Fetching 105/500...
Fetching 106/500...
Fetching 107/500...
Fetching 108/500...
Fetching 109/500...
Fetching 110/500...
Fetching 111/500...
Fetching 112/500...
Fetching 113/500...
Fetching 114/500...
Fetching 115/500...
Fetching 116/500...
Fetching 117/500...
Fetching 118/500...
Fetching 119/500...
Fetching 120/500...
Fetching 121/500...
Fetching 122/500...
Fetching 123/500...
Fetching 124/500...
Fetching 125/500...
Fetching 126/500...
Fetching 127/500...
Fetching 128/500...
Fetching 129/500...
Fetching 130/500...
Fetching 131/500...
Fetching 132/500...
Fetching 133/500...
Fetching 134/500...
Fetching 135/500...
Fetching 136/500...
Fetching 137/500...
Fetching 138/500...
Fetching 139/500...
Fetching 140/500...
Fetching 141/500...
Fetching 142/500...
Fetching 143/500...
Fetching 144/500...
Fetching 145/500...
Fetching 146/500...
Fetching 147/500...
Fetching 148/500...
Fetching 149/500...
Fetching 150/500...
Fetching 151/500...
Fetching 152/500...
Fetching 153/500...
Fetching 154/500...
Fetching 155/500...
Fetching 156/500...
Fetching 157/500...
Fetching 158/500...
Fetching 159/500...
Fetching 160/500...
Fetching 161/500...
Fetching 162/500...
Fetching 163/500...
Fetching 164/500...
Fetching 165/500...
Fetching 166/500...
Fetching 167/500...
Fetching 168/500...
Fetching 169/500...
Fetching 170/500...
Fetching 171/500...
Fetching 172/500...
Fetching 173/500...
Fetching 174/500...
Fetching 175/500...
Fetching 176/500...
Fetching 177/500...
Fetching 178/500...
Fetching 179/500...
Fetching 180/500...
Fetching 181/500...
Fetching 182/500...
Fetching 183/500...
Fetching 184/500...
Fetching 185/500...
Fetching 186/500...
Fetching 187/500...
Fetching 188/500...
Fetching 189/500...
Fetching 190/500...
Fetching 191/500...
Fetching 192/500...
Fetching 193/500...
Fetching 194/500...
Fetching 195/500...
Fetching 196/500...
Fetching 197/500...
Fetching 198/500...
Fetching 199/500...
Fetching 200/500...
Fetching 201/500...
Fetching 202/500...
Fetching 203/500...
Fetching 204/500...
Fetching 205/500...
Fetching 206/500...
Fetching 207/500...
Fetching 208/500...
Fetching 209/500...
Fetching 210/500...
Fetching 211/500...
Fetching 212/500...
Fetching 213/500...
Fetching 214/500...
Fetching 215/500...
Fetching 216/500...
Fetching 217/500...
Fetching 218/500...
Fetching 219/500...
Fetching 220/500...
Fetching 221/500...
Fetching 222/500...
Fetching 223/500...
Fetching 224/500...
Fetching 225/500...
Fetching 226/500...
Fetching 227/500...
Fetching 228/500...
Fetching 229/500...
Fetching 230/500...
Fetching 231/500...
Fetching 232/500...
Fetching 233/500...
Fetching 234/500...
Fetching 235/500...
Fetching 236/500...
Fetching 237/500...
Fetching 238/500...
Fetching 239/500...
Fetching 240/500...
Fetching 241/500...
Fetching 242/500...
Fetching 243/500...
Fetching 244/500...
Fetching 245/500...
Fetching 246/500...
Fetching 247/500...
Fetching 248/500...
Fetching 249/500...
Fetching 250/500...
Fetching 251/500...
Fetching 252/500...
Fetching 253/500...
Fetching 254/500...
Fetching 255/500...
Fetching 256/500...
Fetching 257/500...
Fetching 258/500...
Fetching 259/500...
Fetching 260/500...
Fetching 261/500...
Fetching 262/500...
Fetching 263/500...
Fetching 264/500...
Fetching 265/500...
Fetching 266/500...
Fetching 267/500...
Fetching 268/500...
Fetching 269/500...
Fetching 270/500...
Fetching 271/500...
Fetching 272/500...
Fetching 273/500...
Fetching 274/500...
Fetching 275/500...
Fetching 276/500...
Fetching 277/500...
Fetching 278/500...
Fetching 279/500...
Fetching 280/500...
Fetching 281/500...
Fetching 282/500...
Fetching 283/500...
Fetching 284/500...
Fetching 285/500...
Fetching 286/500...
Fetching 287/500...
Fetching 288/500...
Fetching 289/500...
Fetching 290/500...
Fetching 291/500...
Fetching 292/500...
Fetching 293/500...
Fetching 294/500...
Fetching 295/500...
Fetching 296/500...
Fetching 297/500...
Fetching 298/500...
Fetching 299/500...
Fetching 300/500...
Fetching 301/500...
Fetching 302/500...
Fetching 303/500...
Fetching 304/500...
Fetching 305/500...
Fetching 306/500...
Fetching 307/500...
Fetching 308/500...
Fetching 309/500...
Fetching 310/500...
Fetching 311/500...
Fetching 312/500...
Fetching 313/500...
Fetching 314/500...
Fetching 315/500...
Fetching 316/500...
Fetching 317/500...
Fetching 318/500...
Fetching 319/500...
Fetching 320/500...
Fetching 321/500...
Fetching 322/500...
Fetching 323/500...
Fetching 324/500...
Fetching 325/500...
Fetching 326/500...
Fetching 327/500...
Fetching 328/500...
Fetching 329/500...
Fetching 330/500...
Fetching 331/500...
Fetching 332/500...
Fetching 333/500...
Fetching 334/500...
Fetching 335/500...
Fetching 336/500...
Fetching 337/500...
Fetching 338/500...
Fetching 339/500...
Fetching 340/500...
Fetching 341/500...
Fetching 342/500...
Fetching 343/500...
Fetching 344/500...
Fetching 345/500...
Fetching 346/500...
Fetching 347/500...
Fetching 348/500...
Fetching 349/500...
Fetching 350/500...
Fetching 351/500...
Fetching 352/500...
Fetching 353/500...
Fetching 354/500...
Fetching 355/500...
Fetching 356/500...
Fetching 357/500...
Fetching 358/500...
Fetching 359/500...
Fetching 360/500...
Fetching 361/500...
Fetching 362/500...
Fetching 363/500...
Fetching 364/500...
Fetching 365/500...
Fetching 366/500...
Fetching 367/500...
Fetching 368/500...
Fetching 369/500...
Fetching 370/500...
Fetching 371/500...
Fetching 372/500...
Fetching 373/500...
Fetching 374/500...
Fetching 375/500...
Fetching 376/500...
Fetching 377/500...
Fetching 378/500...
Fetching 379/500...
Fetching 380/500...
Fetching 381/500...
Fetching 382/500...
Fetching 383/500...
Fetching 384/500...
Fetching 385/500...
Fetching 386/500...
Fetching 387/500...
Fetching 388/500...
Fetching 389/500...
Fetching 390/500...
Fetching 391/500...
Fetching 392/500...
Fetching 393/500...
Fetching 394/500...
Fetching 395/500...
Fetching 396/500...
Fetching 397/500...
Fetching 398/500...
Fetching 399/500...
Fetching 400/500...
Fetching 401/500...
Fetching 402/500...
Fetching 403/500...
Fetching 404/500...
Fetching 405/500...
Fetching 406/500...
Fetching 407/500...
Fetching 408/500...
Fetching 409/500...
Fetching 410/500...
Fetching 411/500...
Fetching 412/500...
Fetching 413/500...
Fetching 414/500...
Fetching 415/500...
Fetching 416/500...
Fetching 417/500...
Fetching 418/500...
Fetching 419/500...
Fetching 420/500...
Fetching 421/500...
Fetching 422/500...
Fetching 423/500...
Fetching 424/500...
Fetching 425/500...
Fetching 426/500...
Fetching 427/500...
Fetching 428/500...
Fetching 429/500...
Fetching 430/500...
Fetching 431/500...
Fetching 432/500...
Fetching 433/500...
Fetching 434/500...
Fetching 435/500...
Fetching 436/500...
Fetching 437/500...
Fetching 438/500...
Fetching 439/500...
Fetching 440/500...
Fetching 441/500...
Fetching 442/500...
Fetching 443/500...
Fetching 444/500...
Fetching 445/500...
Fetching 446/500...
Fetching 447/500...
Fetching 448/500...
Fetching 449/500...
Fetching 450/500...
Fetching 451/500...
Fetching 452/500...
Fetching 453/500...
Fetching 454/500...
Fetching 455/500...
Fetching 456/500...
Fetching 457/500...
Fetching 458/500...
Fetching 459/500...
Fetching 460/500...
Fetching 461/500...
Fetching 462/500...
Fetching 463/500...
Fetching 464/500...
Fetching 465/500...
Fetching 466/500...
Fetching 467/500...
Fetching 468/500...
Fetching 469/500...
Fetching 470/500...
Fetching 471/500...
Fetching 472/500...
Fetching 473/500...
Fetching 474/500...
Fetching 475/500...
Fetching 476/500...
Fetching 477/500...
Fetching 478/500...
Fetching 479/500...
Fetching 480/500...
Fetching 481/500...
Fetching 482/500...
Fetching 483/500...
Fetching 484/500...
Fetching 485/500...
Fetching 486/500...
Fetching 487/500...
Fetching 488/500...
Fetching 489/500...
Fetching 490/500...
Fetching 491/500...
Fetching 492/500...
Fetching 493/500...
Fetching 494/500...
Fetching 495/500...
Fetching 496/500...
Fetching 497/500...
Fetching 498/500...
Fetching 499/500...
Fetching 500/500...
500 job results fetched

In [50]:
df = pd.DataFrame(results)
df.insert(3, "model", model)
df.insert(4, "code", all_generations)
df

,dataset,split,task_id,model,code,result,avg_test_time,passed_tests,compiled,loc,...,N2,vocabulary,length,calculated_length,volume,difficulty,effort,time,bugs,MI
0,mbpp,test,0,claude_3_haiku_few_shot,"def remove_Occ(s, ch):\n result = list(s)\n...",failed: list index out of range,NaN,False,True,12,...,3,5,5,6.754888,11.609640,1.000000,11.609640,0.644980,0.003870,68.464892
1,mbpp,test,1,claude_3_haiku_few_shot,def sort_matrix(matrix):\n return sorted(ma...,passed,0.000129,True,True,2,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
2,mbpp,test,2,claude_3_haiku_few_shot,def count_common(words):\n word_counts = Co...,failed: name 'Counter' is not defined,NaN,False,True,3,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
3,mbpp,test,3,claude_3_haiku_few_shot,"def find_Volume(length, base, height):\n vo...",failed:,NaN,False,True,3,...,6,8,9,17.509775,27.000000,1.000000,27.000000,1.500000,0.009000,79.435163
4,mbpp,test,4,claude_3_haiku_few_shot,def split_lowerstring(text):\n return [matc...,failed: name 're' is not defined,NaN,False,True,2,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,mbpp,test,495,claude_3_haiku_few_shot,"def permutation_coefficient(n, k):\n P = [[...",passed,0.000076,True,True,11,...,24,15,36,44.828921,140.648061,6.000000,843.888369,46.882687,0.046883,61.300316
496,mbpp,test,496,claude_3_haiku_few_shot,"def remove_words(list1, removewords):\n ret...",passed,0.000086,True,True,2,...,2,3,3,2.000000,4.754888,0.500000,2.377444,0.132080,0.001585,88.288489
497,mbpp,test,497,claude_3_haiku_few_shot,"def same_order(l1, l2):\n common_elements =...",passed,0.000075,True,True,5,...,8,9,12,20.264663,38.039100,2.000000,76.078200,4.226567,0.012680,73.015386
498,mbpp,test,498,claude_3_haiku_few_shot,def average_Odd(n):\n if n % 2 == 0:\n ...,passed,0.000027,True,True,11,...,11,13,17,35.609640,62.907475,3.437500,216.244446,12.013580,0.020969,66.186143
499,mbpp,test,499,claude_3_haiku_few_shot,"def no_of_subsequences(arr, k):\n n = len(a...",passed,0.000147,True,True,11,...,27,19,41,63.615491,174.165028,6.230769,1085.182098,60.287894,0.058055,62.820436

In [51]:
df["compiled"].mean(), df["passed_tests"].mean()

(1.0, 0.752)

In [52]:
# Finally, when everything looks good save the data. Will overwrite previously
# saved data at this location. Be sure you want to do this!
df.to_csv(RESULTS_PATH + f"{dataset}_{split}_{model}.csv")