## Imports

In [147]:
%load_ext autoreload
%autoreload 2

import anthropic
from dotenv import load_dotenv
import pandas as pd
import pickle
import re

# Expects this file and eval.py to be in the same folder:
from eval import DATA, evaluate, bulk_evaluate

# Expects ANTHROPIC_API_KEY to be provided in .env file in user's home directory
load_dotenv()

mbpp = DATA["mbpp"]  # train, validation, and test
humaneval = DATA["openai_humaneval"]  # test only

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Helpers

In [3]:

RESULTS_PATH = "./results/"

def save_pickle(object, to):
    with open(to, "wb") as f:
        pickle.dump(object, f)
    
def load_pickle(from_):
    with open(from_, "rb") as f:
        return pickle.load(f)

def check_results_for_errors(results, result_ids):
    print(len(results))
    errors = [i for i, result in zip(result_ids, results) if result == "ERROR"]
    print(len(errors))
    return errors

## Generation Helpers

In [70]:
BASIC_SYSTEM_PROMPT = "Refactor the given Python program to a more readable, efficient, and maintainable one. You can assume that the given program is semantically correct. Do not change the external behavior of the program, and keep the syntactic and semantic correctness. Python programs should be in a code block. Do not explain anything in natural language."
CLAUDE_PROMPT = (BASIC_SYSTEM_PROMPT + "\n\nPut your response in a markdown code block. Respond with only the code block. Don't explain the changes made.")

def refactor(code, model="claude-3-haiku-20240307", system_prompt=CLAUDE_PROMPT, max_tokens=1000, temperature=1e-8):
    """
    temperature = Amount of randomness injected into the response. Ranges from
        0.0 to 1.0. Use temperature closer to 0.0 for analytical / multiple
        choice, and closer to 1.0 for creative and generative tasks. Anthropic
        API defaults to 1.0 [1]. Here we default to 1e-8 or very close to 0.0,
        but not exactly 0.0. This is we observed some randomness even a 0.0.
        Anthropic acknowledges this in their documentation [1]. See [2] for a
        similar dicussion for the GPT API. We use the very low, but not zero
        temperature based on that discussion, the empirical results shown there,
        and our own testing.
        Sources:
         1. https://docs.anthropic.com/claude/reference/complete_post#:~:text=to%20stop%20generating.-,temperature,-number
         2. https://community.openai.com/t/why-the-api-output-is-inconsistent-even-after-the-temperature-is-set-to-0/329541
    """
    client = anthropic.Anthropic()
    message = client.messages.create(
        model=model,
        max_tokens=max_tokens,
        temperature=temperature,
        system=system_prompt,
        messages=[{
            "role": "user",
            "content": [{"type": "text", "text": code}]
        }]
    )
    return message.content[0].text.strip()

def extract_from_code_block(raw_generation):
    assert raw_generation.startswith("```")
    assert raw_generation.endswith("```")

    # Simply remove first and last line
    return "\n".join(raw_generation.split("\n")[1:-1])

## HumanEval Generation

In [43]:
canonical_solutions = [
    task["prompt"] + task["canonical_solution"] for task in humaneval["test"]
]

In [11]:
# WARNING: Running this cell will delete all your generations / evals. Be sure
#   you want to do this!
# all_generations = []
# all_evals = []

In [ ]:

# WARNNG: Very slow step:
assert len(all_generations) == len(all_evals)

i = len(all_evals)
while i < len(canonical_solutions):
    print(i)

    # Call Claude API to refactor the code:
    raw_generation = refactor(canonical_solutions[i])
    generation = extract_from_code_block(raw_generation)
    all_generations.append(generation)

    # To avoid hitting the Claude API rate limit, buy time by doing the eval
    # immediately after generation:
    all_evals.append(evaluate(
        dataset="openai_humaneval",
        split="test",
        task_id=i,
        code=all_generations[i]
    ))
    i += 1

    # Every 10, Save to pickle just in case
    if i % 10 == 0:
        save_pickle(all_generations, RESULTS_PATH + "openai_humaneval_test_claude_3_haiku_0_shot_in_progress_generations.pkl")
        save_pickle(all_evals, RESULTS_PATH + "openai_humaneval_test_claude_3_haiku_0_shot_in_progress_evals.pkl")

In [69]:
df = pd.DataFrame(all_evals)
df.insert(3, "model", "claude_3_haiku_0_shot")
df.insert(4, "code", all_generations)
df

,dataset,split,task_id,model,code,result,avg_test_time,passed_tests,compiled,loc,...,N2,vocabulary,length,calculated_length,volume,difficulty,effort,time,bugs,MI
0,openai_humaneval,test,0,claude_3_haiku_0_shot,from typing import List\n\ndef has_close_eleme...,passed,0.000200,True,True,18,...,6,9,9,20.264663,28.529325,1.50,42.793988,2.377444,0.009510,92.948976
1,openai_humaneval,test,1,claude_3_haiku_0_shot,from typing import List\n\ndef separate_paren_...,passed,0.000097,True,True,33,...,5,6,8,10.000000,20.679700,1.25,25.849625,1.436090,0.006893,91.833863
2,openai_humaneval,test,2,claude_3_haiku_0_shot,def truncate_number(number: float) -> float:\n...,passed,0.000065,True,True,15,...,2,3,3,2.000000,4.754888,0.50,2.377444,0.132080,0.001585,55.567861
3,openai_humaneval,test,3,claude_3_haiku_0_shot,from typing import List\n\ndef below_zero(oper...,passed,0.000135,True,True,11,...,4,6,6,10.000000,15.509775,1.00,15.509775,0.861654,0.005170,71.694386
4,openai_humaneval,test,4,claude_3_haiku_0_shot,from typing import List\n\ndef calculate_mean_...,failed: name 'mean_absolute_deviation' is not ...,NaN,False,True,17,...,6,8,9,17.509775,27.000000,1.00,27.000000,1.500000,0.009000,87.277819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,openai_humaneval,test,159,claude_3_haiku_0_shot,"def eat(number_eaten, needed, remaining):\n ...",failed: Error,NaN,False,True,15,...,4,6,6,10.000000,15.509775,1.00,15.509775,0.861654,0.005170,77.260164
160,openai_humaneval,test,160,claude_3_haiku_0_shot,"def do_algebra(operator, operand):\n """"""\n ...",passed,0.000112,True,True,23,...,10,15,15,44.828921,58.603359,2.50,146.508397,8.139355,0.019534,85.425318
161,openai_humaneval,test,161,claude_3_haiku_0_shot,"def solve(s):\n """"""\n Reverses the case ...",passed,0.000084,True,True,14,...,2,4,4,4.000000,8.000000,1.00,8.000000,0.444444,0.002667,97.852090
162,openai_humaneval,test,162,claude_3_haiku_0_shot,import hashlib\n\ndef string_to_md5(text: str)...,passed,0.000064,True,True,12,...,1,2,2,0.000000,2.000000,0.50,1.000000,0.055556,0.000667,100.000000
163,openai_humaneval,test,163,claude_3_haiku_0_shot,"def generate_integers(a: int, b: int) -> list[...",passed,0.000092,True,True,13,...,6,9,9,20.264663,28.529325,1.50,42.793988,2.377444,0.009510,80.289730

In [71]:
# Finally, when everything looks good save the data. Will overwrite previously
# saved data at this location. Be sure you want to do this!
# df.to_csv(RESULTS_PATH + "openai_humaneval_test_claude_3_haiku_0_shot.csv")

## MBPP Generation

### Test

In [12]:
canonical_solutions = [
    "# " + task["text"] + "\n" + task["code"] for task in mbpp["test"]
]

In [13]:
# WARNING: Running this cell will delete all your generations / evals. Be sure
#   you want to do this!
# all_generations = []
# all_evals = []

In [ ]:
# WARNNG: Very slow step:
assert len(all_generations) == len(all_evals)

i = len(all_evals)
while i < len(canonical_solutions):
    print(i)

    # Call Claude API to refactor the code:
    raw_generation = refactor(canonical_solutions[i])
    generation = extract_from_code_block(raw_generation)
    all_generations.append(generation)

    # To avoid hitting the Claude API rate limit, buy time by doing the eval
    # immediately after generation:
    all_evals.append(evaluate(
        dataset="mbpp",
        split="test",
        task_id=i,
        code=all_generations[i]
    ))
    i += 1

    # Every 10, Save to pickle just in case
    if i % 10 == 0:
        save_pickle(all_generations, RESULTS_PATH + "mbpp_test_claude_3_haiku_0_shot_in_progress_generations.pkl")
        save_pickle(all_evals, RESULTS_PATH + "mbpp_test_claude_3_haiku_0_shot_in_progress_evals.pkl")

In [37]:
df = pd.DataFrame(all_evals)
df.insert(3, "model", "claude_3_haiku_0_shot")
df.insert(4, "code", all_generations)
df

,dataset,split,task_id,model,code,result,compiled,passed_tests,avg_test_time,loc,...,N2,vocabulary,length,calculated_length,volume,difficulty,effort,time,bugs,MI
0,mbpp,test,0,claude_3_haiku_0_shot,"def remove_occurrences(string, char):\n res...",failed: name 'remove_Occ' is not defined,True,False,NaN,17,...,12,10,18,23.509775,59.794706,4.000000,239.178823,13.287712,0.019932,61.616668
1,mbpp,test,1,claude_3_haiku_0_shot,"def sort_matrix(matrix):\n """"""\n Sorts a...",passed,True,True,0.000157,11,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
2,mbpp,test,2,claude_3_haiku_0_shot,from collections import Counter\n\ndef count_m...,failed: name 'count_common' is not defined,True,False,NaN,14,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
3,mbpp,test,3,claude_3_haiku_0_shot,"def calculate_triangular_prism_volume(length, ...",failed: name 'find_Volume' is not defined,True,False,NaN,13,...,6,8,9,17.509775,27.000000,1.000000,27.000000,1.500000,0.009000,51.650873
4,mbpp,test,4,claude_3_haiku_0_shot,"def split_at_lowercase(text):\n """"""\n Sp...",failed: name 'split_lowerstring' is not defined,True,False,NaN,11,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,mbpp,test,495,claude_3_haiku_0_shot,"def permutation_coefficient(n, k):\n """"""\n ...",passed,True,True,0.000060,27,...,28,18,42,58.529325,175.136850,7.000000,1225.957950,68.108775,0.058379,87.544796
496,mbpp,test,496,claude_3_haiku_0_shot,"def remove_words(original_list, words_to_remov...",passed,True,True,0.000085,2,...,2,3,3,2.000000,4.754888,0.500000,2.377444,0.132080,0.001585,88.288489
497,mbpp,test,497,claude_3_haiku_0_shot,"def check_common_order(list1, list2):\n """"""...",failed: name 'same_order' is not defined,True,False,NaN,13,...,6,7,9,13.609640,25.266194,1.200000,30.319433,1.684413,0.008422,69.363638
498,mbpp,test,498,claude_3_haiku_0_shot,def average_odd(n):\n if n % 2 == 0:\n ...,failed: name 'average_Odd' is not defined,True,False,NaN,13,...,14,13,21,35.161259,77.709234,6.000000,466.255404,25.903078,0.025903,64.545413
499,mbpp,test,499,claude_3_haiku_0_shot,def count_subsequences_with_product_less_than_...,failed: name 'no_of_subsequences' is not defined,True,False,NaN,11,...,27,19,41,63.615491,174.165028,6.230769,1085.182098,60.287894,0.058055,62.820436

In [38]:
# Finally, when everything looks good save the data. Will overwrite previously
# saved data at this location. Be sure you want to do this!
# df.to_csv(RESULTS_PATH + "mbpp_test_claude_3_haiku_0_shot.csv")

### Validate

In [208]:
# ~18% tests passed
v1_prompt = (BASIC_SYSTEM_PROMPT + "\n\nPut your response in a markdown code block. Respond with only the code block. Don't explain the changes made.")

# ~28% tests passed
v2_prompt = """
Refactor the following Python program to a more readable, efficient, and maintainable one:
 - The given program is correct but needs improvement
 - DO NOT change the name of the program
 - DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.)
 - Put your response in a markdown code block
 - Respond with only the code block
 - Don't explain the changes made

Following the above rules is CRITICALLY IMPORTANT to ensure the program continues to work as expected for users!
""".strip()

# ~71% tests passed
v3_prompt = """
Refactor the following Python program to a more readable, efficient, and maintainable one:
 - The given program is correct but needs improvement
 - DO NOT change the name of the program
 - DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.)
 - Put your response in a markdown code block
 - Respond with only the code block
 - Don't explain the changes made

Refactor only according to these guidelines. Again, do not change the name of the function, including changing capitalization.
""".strip()

# 75.55555555555555% tests passed
v4_prompt = """
Refactor the following Python program to a more readable, efficient, and maintainable one:
 - The given program is correct but needs improvement
 - DO NOT change the name of the program
 - DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.)
 - Put your response in a markdown code block
 - Respond with only the code block
 - Don't explain the changes made

Again, do not change the name of the function in any way. The function name should remain "{function_name}".
""".strip()

# 71.11111111111111% tests passed
v5_prompt = """
Refactor the following Python program to a more readable, efficient, and maintainable one. The given program is correct but needs improvement. DO NOT change the name of the program. DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.). Put your response in a markdown code block. Respond with only the code block. Don't explain the changes made.

Again, do not change the name of the function in any way. The function name should remain `{function_name}`.
""".strip()

# 74.44444444444445% tests passed
v6_prompt = """
Refactor the following Python program to a more readable, efficient, and maintainable one:
 - The given program is correct but needs improvement
 - DO NOT change the name of the program
 - DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.)
 - Put your response in a markdown code block
 - Respond with only the code block
 - Don't explain the changes made

Again, do not change the name of the function in any way. The function name should remain `{function_name}`.

Also, don't forget to import any packages you use (e.g. `os`, `re`, `sys`)!
""".strip()

# 74.44444444444445% tests passed
v7_prompt = """
Refactor the following Python program to a more readable, efficient, and maintainable one:
 - The given program is correct but needs improvement
 - DO NOT change the name of the program
 - DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.)
 - Put your response in a markdown code block
 - Respond with only the code block
 - Don't explain the changes made
 - Don't forget to import any packages you use (e.g. `os`, `re`, `sys`)

Again, do not change the name of the function in any way. The function name should remain "{function_name}".
""".strip()

# 74.44444444444445% tests passed
v8_prompt = """
Refactor the following Python program to a more readable, efficient, and maintainable one:
 - The given program is correct but needs improvement
 - DO NOT change the name of the program
 - DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.)
 - Put your response in a markdown code block
 - Respond with only the code block
 - Don't explain the changes made
 - If you use any packages (e.g. `os`, `re`, `sys`), don't forget to import them

Again, be careful not to change the function name! The function name should remain `{function_name}`.
""".strip()

current_prompt = v8_prompt
current_prompt_name = "v8_prompt"
print(current_prompt)

Refactor the following Python program to a more readable, efficient, and maintainable one:
 - The given program is correct but needs improvement
 - DO NOT change the name of the program
 - DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.)
 - Put your response in a markdown code block
 - Respond with only the code block
 - Don't explain the changes made
 - If you use any packages (e.g. `os`, `re`, `sys`), don't forget to import them

Again, be careful not to change the function name! The function name should remain `{function_name}`.

In [192]:
split = "validation"
canonical_solutions = [
    "# " + task["text"] + "\n" + task["code"] for task in mbpp[split]
]
function_names = [
    re.findall(
        "assert\s*\(?\w+\s*\(",
        task["test_list"][0]
    )[-1].replace("assert", "").replace("(", "").strip()
    for task in mbpp[split]
]
print(current_prompt.format(function_name=function_names[0]))

Refactor the following Python program to a more readable, efficient, and maintainable one:
 - The given program is correct but needs improvement
 - DO NOT change the name of the program
 - DO NOT change the input or output behavior of the program (e.g. number of inputs / outputs, input / output types, etc.)
 - Put your response in a markdown code block
 - Respond with only the code block
 - Don't explain the changes made
 - Don't forget to import any packages you use (e.g. `os`, `re`, `sys`)

Again, do not change the name of the function in any way. The function name should remain "find_Min_Sum".

In [177]:


from eval import build_tests

# function_names = [
#     task["entry_point"]
#     for task in humaneval["test"]
# ]

# all([
#     re.findall(
#         "\ndef \w+\s*\(",
#         task["prompt"] + task["canonical_solution"]
#     )[-1].replace("\ndef ", "")[:-1].strip()
#     == entry_points[i]
#     # for solution in canonical_solutions
#     for i, task in enumerate(humaneval["test"])
# ])

split = "validation"
# split = "train"
# split = "test"

function_names = [
    re.findall(
        "assert\s*\(?\w+\s*\(",
        task["test_list"][0]
    )[-1].replace("assert", "").replace("(", "").strip()
    for task in mbpp[split]
]

# [
#     # re.findall(
#     #     "\ndef \w+\s*\(",
#     #     "# " + task["text"] + "\n" + task["code"]
#     # )[-1].replace("\ndef ", "")[:-1].strip()
#     # ==
#     entry_points[i]
#     # for solution in canonical_solutions
#     for i, task in enumerate(mbpp[split])
# ][116] #.index(False)

# mbpp[split][116]

In [207]:
i = 35
raw_generation = refactor(
    canonical_solutions[i],
    system_prompt=current_prompt.format(function_name=function_names[i])
)
generation = extract_from_code_block(raw_generation)
print(generation)

def last_occurence_char(string, char):
    try:
        return string.rindex(char) + 1
    except ValueError:
        return None

In [145]:
# randomness_test_results = []
# for _ in range(20):
#     raw_generation = refactor(
#         canonical_solutions[39],
#         system_prompt=v4_prompt.format(function_name=function_names[39])
#     )
#     generation = extract_from_code_block(raw_generation)
#     randomness_test_results.append(generation)

# randomness_test_results

['def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)',
 'def find_Max(arr, low, high):\n    if high < low:\n        return arr[0]\n    if high == low:\n        return arr[low]\n\n    mid = low + (high - low) // 2\n\n    if mid < high and arr[mid + 1] < arr[mid]:\n        return arr[mid]\n    if mid > low and arr[mid] < arr[mid - 1]:\n        return arr[mid - 1]\n\n    if arr[low] > arr[mid]:\n        return find_Max(arr, low, mid - 1)\n    else:\n        return find_Max(arr, mid + 1, high)']

In [209]:
# WARNING: Running this cell will delete all your generations / evals. Be sure
#   you want to do this!
all_generations = []
# all_evals = []

In [212]:
# WARNNG: Slow step:
i = len(all_generations)
while i < len(canonical_solutions):
    print(i)

    # Call Claude API to refactor the code:
    raw_generation = refactor(
        canonical_solutions[i],
        system_prompt=current_prompt.format(function_name=function_names[i])
    )
    generation = extract_from_code_block(raw_generation)
    all_generations.append(generation)
    i += 1

    # Every 10, Save to pickle just in case
    if i % 10 == 0:
        save_pickle(all_generations, RESULTS_PATH + "mbpp_validation_claude_3_haiku_0_shot_in_progress_generations.pkl")

71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89

In [213]:
execution_ids_backup = []
execution_results_backup = []

results = bulk_evaluate(
    dataset="mbpp",
    split="validation",
    code=all_generations,
    execution_ids_backup=execution_ids_backup,
    execution_results_backup=execution_results_backup
)

Sending 90 jobs for execution...
90 jobs sent
Fetching 90 job results...
Fetching 1/90...
Fetching 2/90...
Fetching 3/90...
Fetching 4/90...
Fetching 5/90...
Fetching 6/90...
Fetching 7/90...
Fetching 8/90...
Fetching 9/90...
Fetching 10/90...
Fetching 11/90...
Fetching 12/90...
Fetching 13/90...
Fetching 14/90...
Fetching 15/90...
Fetching 16/90...
Fetching 17/90...
Fetching 18/90...
Fetching 19/90...
Fetching 20/90...
Fetching 21/90...
Fetching 22/90...
Fetching 23/90...
Fetching 24/90...
Fetching 25/90...
Fetching 26/90...
Fetching 27/90...
Fetching 28/90...
Fetching 29/90...
Fetching 30/90...
Fetching 31/90...
Fetching 32/90...
Fetching 33/90...
Fetching 34/90...
Fetching 35/90...
Fetching 36/90...
Fetching 37/90...
Fetching 38/90...
Fetching 39/90...
Fetching 40/90...
Fetching 41/90...
Fetching 42/90...
Fetching 43/90...
Fetching 44/90...
Fetching 45/90...
Fetching 46/90...
Fetching 47/90...
Fetching 48/90...
Fetching 49/90...
Fetching 50/90...
Fetching 51/90...
Fetching 52/90...
Fetching 53/90...
Fetching 54/90...
Fetching 55/90...
Fetching 56/90...
Fetching 57/90...
Fetching 58/90...
Fetching 59/90...
Fetching 60/90...
Fetching 61/90...
Fetching 62/90...
Fetching 63/90...
Fetching 64/90...
Fetching 65/90...
Fetching 66/90...
Fetching 67/90...
Fetching 68/90...
Fetching 69/90...
Fetching 70/90...
Fetching 71/90...
Fetching 72/90...
Fetching 73/90...
Fetching 74/90...
Fetching 75/90...
Fetching 76/90...
Fetching 77/90...
Fetching 78/90...
Fetching 79/90...
Fetching 80/90...
Fetching 81/90...
Fetching 82/90...
Fetching 83/90...
Fetching 84/90...
Fetching 85/90...
Fetching 86/90...
Fetching 87/90...
Fetching 88/90...
Fetching 89/90...
Fetching 90/90...
90 job results fetched

In [214]:
df = pd.DataFrame(results)
df.insert(3, "model", f"claude_3_haiku_0_shot_{current_prompt_name}")
df.insert(4, "code", all_generations)
df

,dataset,split,task_id,model,code,result,compiled,passed_tests,avg_test_time,loc,...,N2,vocabulary,length,calculated_length,volume,difficulty,effort,time,bugs,MI
0,mbpp,validation,0,claude_3_haiku_0_shot_v8_prompt,def find_Min_Sum(num):\n factors = []\n ...,passed,True,True,0.000028,9,...,12,13,18,35.161259,66.607915,5.142857,342.554991,19.030833,0.022203,65.877825
1,mbpp,validation,1,claude_3_haiku_0_shot_v8_prompt,"def flatten(nested_tuple):\n """"""Flatten a n...",passed,True,True,0.000125,14,...,2,3,3,2.000000,4.754888,0.500000,2.377444,0.132080,0.001585,70.421123
2,mbpp,validation,2,claude_3_haiku_0_shot_v8_prompt,"def add_str(test_tuple, string_to_add):\n r...",passed,True,True,0.000089,6,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
3,mbpp,validation,3,claude_3_haiku_0_shot_v8_prompt,def sum_elements(tuples):\n return sum(sum(...,failed: 'int' object is not iterable,True,False,NaN,2,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
4,mbpp,validation,4,claude_3_haiku_0_shot_v8_prompt,"def modular_sum(arr, n, m):\n if n > m:\n ...",failed:,True,False,NaN,17,...,10,11,15,27.651484,51.891474,2.857143,148.261355,8.236742,0.017297,62.047759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,mbpp,validation,85,claude_3_haiku_0_shot_v8_prompt,def tuple_size(tuples):\n total_size = 0\n ...,failed: name 'sys' is not defined,True,False,NaN,5,...,2,3,3,2.000000,4.754888,0.500000,2.377444,0.132080,0.001585,79.742343
86,mbpp,validation,86,claude_3_haiku_0_shot_v8_prompt,"def find_kth(arr1, arr2, m, n, k):\n if m >...",passed,True,True,0.000097,22,...,34,24,51,89.138353,233.833088,7.000000,1636.831613,90.935090,0.077944,55.226892
87,mbpp,validation,87,claude_3_haiku_0_shot_v8_prompt,"def armstrong_number(num):\n """"""\n Check...",passed,True,True,0.000028,32,...,18,15,27,44.039100,105.486046,6.000000,632.916276,35.162015,0.035162,87.127054
88,mbpp,validation,88,claude_3_haiku_0_shot_v8_prompt,def sum_average(n):\n total = n * (n + 1) /...,passed,True,True,0.000034,4,...,8,10,12,23.509775,39.863137,2.666667,106.301699,5.905650,0.013288,75.524960
89,mbpp,validation,89,claude_3_haiku_0_shot_v8_prompt,"def is_even(num: int) -> bool:\n """"""\n C...",failed: name 'is_Even' is not defined,True,False,NaN,11,...,4,6,6,10.000000,15.509775,1.000000,15.509775,0.861654,0.005170,61.515063

In [215]:
df["passed_tests"].mean()

0.7444444444444445

In [216]:
# Finally, when everything looks good save the data. Will overwrite previously
# saved data at this location. Be sure you want to do this!
df.to_csv(RESULTS_PATH + f"mbpp_validation_claude_3_haiku_0_shot_{current_prompt_name}.csv")

In [217]:
df.query("not passed_tests")

,dataset,split,task_id,model,code,result,compiled,passed_tests,avg_test_time,loc,...,N2,vocabulary,length,calculated_length,volume,difficulty,effort,time,bugs,MI
3,mbpp,validation,3,claude_3_haiku_0_shot_v8_prompt,def sum_elements(tuples):\n return sum(sum(...,failed: 'int' object is not iterable,True,False,NaN,2,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
4,mbpp,validation,4,claude_3_haiku_0_shot_v8_prompt,"def modular_sum(arr, n, m):\n if n > m:\n ...",failed:,True,False,NaN,17,...,10,11,15,27.651484,51.891474,2.857143,148.261355,8.236742,0.017297,62.047759
12,mbpp,validation,12,claude_3_haiku_0_shot_v8_prompt,def check_string(input_str):\n requirements...,failed:,True,False,NaN,13,...,13,17,20,56.105716,81.749257,2.000000,163.498514,9.083251,0.027250,66.694293
16,mbpp,validation,16,claude_3_haiku_0_shot_v8_prompt,"def get_pairs_count(arr, target_sum):\n cou...",failed: get_pairs_count() takes 2 positional a...,True,False,NaN,11,...,6,9,9,20.264663,28.529325,1.500000,42.793988,2.377444,0.009510,68.590709
22,mbpp,validation,22,claude_3_haiku_0_shot_v8_prompt,"def remove_datatype(test_tuple, data_type):\n ...",failed:,True,False,NaN,2,...,1,2,2,0.000000,2.000000,0.500000,1.000000,0.055556,0.000667,90.922018
23,mbpp,validation,23,claude_3_haiku_0_shot_v8_prompt,"def search_literal(pattern, text):\n try:\n...",failed: name 're' is not defined,True,False,NaN,9,...,4,2,8,0.000000,8.000000,2.000000,16.000000,0.888889,0.002667,72.457231
24,mbpp,validation,24,claude_3_haiku_0_shot_v8_prompt,"def topbottom_surfacearea(radius):\n """"""\n ...",failed:,True,False,NaN,11,...,4,6,6,10.000000,15.509775,1.000000,15.509775,0.861654,0.005170,61.515063
29,mbpp,validation,29,claude_3_haiku_0_shot_v8_prompt,"def find_Diff(arr):\n """"""\n Find the dif...",failed: find_Diff() takes 1 positional argumen...,True,False,NaN,18,...,4,6,6,10.000000,15.509775,1.000000,15.509775,0.861654,0.005170,97.336698
34,mbpp,validation,34,claude_3_haiku_0_shot_v8_prompt,def toggle_F_and_L_bits(n):\n if n == 1:\n ...,failed:,True,False,NaN,6,...,14,14,21,39.509775,79.954453,5.250000,419.760880,23.320049,0.026651,98.431625
36,mbpp,validation,36,claude_3_haiku_0_shot_v8_prompt,def Total_Hamming_Distance(n):\n total_dist...,failed:,True,False,NaN,6,...,10,8,15,17.509775,45.000000,1.666667,75.000000,4.166667,0.015000,71.046112
39,mbpp,validation,39,claude_3_haiku_0_shot_v8_prompt,"def find_Max(arr):\n left, right = 0, len(a...",failed: find_Max() takes 1 positional argument...,True,False,NaN,12,...,14,15,21,44.828921,82.044703,3.500000,287.156459,15.953137,0.027348,65.378472
43,mbpp,validation,43,claude_3_haiku_0_shot_v8_prompt,def split_odd_numbers(numbers):\n return [n...,failed: name 'Split' is not defined,True,False,NaN,2,...,4,6,6,10.000000,15.509775,1.000000,15.509775,0.861654,0.005170,84.693198
44,mbpp,validation,44,claude_3_haiku_0_shot_v8_prompt,def difference(n):\n sum_of_cubes = (n * (n...,failed:,True,False,NaN,4,...,22,19,33,64.912609,140.181608,3.928571,550.713460,30.595192,0.046727,71.701023
50,mbpp,validation,50,claude_3_haiku_0_shot_v8_prompt,def assign_elements(test_list):\n result = ...,failed:,True,False,NaN,6,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
52,mbpp,validation,52,claude_3_haiku_0_shot_v8_prompt,def extract_values(text):\n return re.finda...,failed: name 're' is not defined,True,False,NaN,2,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
56,mbpp,validation,56,claude_3_haiku_0_shot_v8_prompt,"def is_sorted(lst):\n """"""\n Checks wheth...",failed: name 'issort_list' is not defined,True,False,NaN,14,...,6,8,9,16.364528,27.000000,1.800000,48.600000,2.700000,0.009000,91.208905
57,mbpp,validation,57,claude_3_haiku_0_shot_v8_prompt,def create_empty_list(length):\n return [{}...,failed: name 'empty_list' is not defined,True,False,NaN,2,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
63,mbpp,validation,63,claude_3_haiku_0_shot_v8_prompt,import math\n\ndef surfacearea_cylinder(radius...,failed:,True,False,NaN,17,...,14,13,21,37.974168,77.709234,2.100000,163.189392,9.066077,0.025903,88.102191
70,mbpp,validation,70,claude_3_haiku_0_shot_v8_prompt,"def surface_area(base, slant_height):\n """"""...",failed: name 'surface_Area' is not defined,True,False,NaN,12,...,8,9,12,20.264663,38.039100,2.000000,76.078200,4.226567,0.012680,53.747947
79,mbpp,validation,79,claude_3_haiku_0_shot_v8_prompt,"import cmath\n\ndef polar_rect(r, theta):\n ...",failed:,True,False,NaN,16,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
81,mbpp,validation,81,claude_3_haiku_0_shot_v8_prompt,"def binomial_coeff(n, k):\n """"""\n Calcul...",failed: name 'sum_Of_product' is not defined,True,False,NaN,16,...,15,15,23,46.053748,89.858484,2.727273,245.068592,13.614922,0.029953,91.483114
85,mbpp,validation,85,claude_3_haiku_0_shot_v8_prompt,def tuple_size(tuples):\n total_size = 0\n ...,failed: name 'sys' is not defined,True,False,NaN,5,...,2,3,3,2.000000,4.754888,0.500000,2.377444,0.132080,0.001585,79.742343
89,mbpp,validation,89,claude_3_haiku_0_shot_v8_prompt,"def is_even(num: int) -> bool:\n """"""\n C...",failed: name 'is_Even' is not defined,True,False,NaN,11,...,4,6,6,10.000000,15.509775,1.000000,15.509775,0.861654,0.005170,61.515063

In [218]:
task_id = 89
print(canonical_solutions[task_id])
print("-"*40)
print(all_generations[task_id])

# Write a python function to check whether the given number is even or not using bitwise operator.
def is_Even(n) :
    if (n^1 == n+1) :
        return True;
    else :
        return False;
----------------------------------------
def is_even(num: int) -> bool:
    """
    Checks whether the given number is even or not using bitwise operator.

    Args:
        num (int): The number to be checked.

    Returns:
        bool: True if the number is even, False otherwise.
    """
    return (num & 1) == 0