## Imports

In [117]:
%load_ext autoreload
%autoreload 2

import os
import pandas as pd
import pickle

from eval import DATA

pd.set_option("display.max_columns", 100)

mbpp = DATA["mbpp"]  # train, validation, and test
humaneval = DATA["openai_humaneval"]  # test only

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Helpers

In [118]:
RESULTS_PATH = "./results/"

def save_pickle(object, to):
    with open(to, "wb") as f:
        pickle.dump(object, f)
    
def load_pickle(from_):
    with open(from_, "rb") as f:
        return pickle.load(f)

## Load and Combine Results

In [119]:
df = pd.concat([
    pd.read_csv(RESULTS_PATH + file_name)
    for file_name in os.listdir(RESULTS_PATH)
    if file_name.endswith(".csv")
]).drop(columns="Unnamed: 0")
df

,dataset,split,task_id,model,code,result,avg_test_time,passed_tests,compiled,loc,lloc,sloc,comments,multi,blank,single_comments,CC,h1,h2,N1,N2,vocabulary,length,calculated_length,volume,difficulty,effort,time,bugs,MI
0,mbpp,test,0,canonical_solution,# Write a python function to remove first and ...,passed,0.000058,True,True,11,12,10,1,0,0,1,5,4,10,9,16,14,25,41.219281,95.183873,3.2,304.588394,16.921577,0.031728,79.749780
1,mbpp,test,1,canonical_solution,# Write a function to sort a given matrix in a...,passed,0.000129,True,True,4,3,3,1,0,0,1,1,0,0,0,0,0,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,100.000000
2,mbpp,test,2,canonical_solution,# Write a function to count the most common wo...,passed,0.000197,True,True,6,5,5,1,0,0,1,1,0,0,0,0,0,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,100.000000
3,mbpp,test,3,canonical_solution,# Write a python function to find the volume o...,passed,0.000033,True,True,3,2,2,1,0,0,1,1,2,6,3,6,8,9,17.509775,27.000000,1.0,27.000000,1.500000,0.009000,100.000000
4,mbpp,test,4,canonical_solution,# Write a function to split a string at lowerc...,passed,0.000057,True,True,4,3,3,1,0,0,1,1,0,0,0,0,0,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,openai_humaneval,test,159,claude_3_haiku_0_shot,"def eat(number_eaten, needed, remaining):\n ...",failed: Error,NaN,False,True,15,5,4,0,9,2,0,1,2,4,2,4,6,6,10.000000,15.509775,1.0,15.509775,0.861654,0.005170,77.260164
160,openai_humaneval,test,160,claude_3_haiku_0_shot,"def do_algebra(operator, operand):\n """"""\n ...",passed,0.000112,True,True,23,8,7,0,10,6,0,4,5,10,5,10,15,15,44.828921,58.603359,2.5,146.508397,8.139355,0.019534,85.425318
161,openai_humaneval,test,161,claude_3_haiku_0_shot,"def solve(s):\n """"""\n Reverses the case ...",passed,0.000084,True,True,14,12,10,0,4,0,0,4,2,2,2,2,4,4,4.000000,8.000000,1.0,8.000000,0.444444,0.002667,97.852090
162,openai_humaneval,test,162,claude_3_haiku_0_shot,import hashlib\n\ndef string_to_md5(text: str)...,passed,0.000064,True,True,12,6,5,0,5,2,0,2,1,1,1,1,2,2,0.000000,2.000000,0.5,1.000000,0.055556,0.000667,100.000000
163,openai_humaneval,test,163,claude_3_haiku_0_shot,"def generate_integers(a: int, b: int) -> list[...",passed,0.000092,True,True,13,5,4,0,8,1,0,3,3,6,3,6,9,9,20.264663,28.529325,1.5,42.793988,2.377444,0.009510,80.289730

In [120]:
df.value_counts(["dataset", "split", "model"])

dataset           split       model
mbpp              test        canonical_solution       500
                              claude_3_haiku_0_shot    500
                  train       canonical_solution       374
openai_humaneval  test        canonical_solution       164
                              claude_3_haiku_0_shot    164
mbpp              validation  canonical_solution        90
Name: count, dtype: int64

In [121]:
df.columns

Index(['dataset', 'split', 'task_id', 'model', 'code', 'result',
       'avg_test_time', 'passed_tests', 'compiled', 'loc', 'lloc', 'sloc',
       'comments', 'multi', 'blank', 'single_comments', 'CC', 'h1', 'h2', 'N1',
       'N2', 'vocabulary', 'length', 'calculated_length', 'volume',
       'difficulty', 'effort', 'time', 'bugs', 'MI'],
      dtype='object')

## Analysis

In [122]:
GROUPING = ["dataset", "split", "model"]
df.groupby(GROUPING)[["compiled", "passed_tests"]].mean()

                                                   compiled  passed_tests
dataset          split      model
mbpp             test       canonical_solution          1.0      1.000000
                            claude_3_haiku_0_shot       1.0      0.212000
                 train      canonical_solution          1.0      1.000000
                 validation canonical_solution          1.0      1.000000
openai_humaneval test       canonical_solution          1.0      1.000000
                            claude_3_haiku_0_shot       1.0      0.646341

In [140]:
test_results_df = df.query("split == 'test'")
mbpp_test_results_df = test_results_df.query("dataset == 'mbpp'")
humaneval_test_results_df = test_results_df.query("dataset == 'openai_humaneval'")

mbpp_test_correct_tasks = set(
    mbpp_test_results_df
    .query("model == 'claude_3_haiku_0_shot' and passed_tests")
    ["task_id"]
)
humaneval_test_correct_tasks = set(
    humaneval_test_results_df
    .query("model == 'claude_3_haiku_0_shot' and passed_tests")
    ["task_id"]
)

In [142]:

claude_correct_mbpp_df = (
    mbpp_test_results_df
    # Filter to only tasks Claude got correct:
    [mbpp_test_results_df["task_id"].apply(
        lambda id: id in mbpp_test_correct_tasks
    )]
)
claude_correct_humaneval_df = (
    humaneval_test_results_df
    # Filter to only tasks Claude got correct:
    [humaneval_test_results_df["task_id"].apply(
        lambda id: id in humaneval_test_correct_tasks
    )]
)
claude_correct_tasks_df = pd.concat([claude_correct_mbpp_df, claude_correct_humaneval_df])
claude_correct_tasks_df.value_counts(GROUPING)

dataset           split  model
mbpp              test   canonical_solution       106
                         claude_3_haiku_0_shot    106
openai_humaneval  test   canonical_solution       106
                         claude_3_haiku_0_shot    106
Name: count, dtype: int64

In [143]:
simplicity_metrics = df.columns[9:]
successful_solution_metrics = ["avg_test_time"] + list(simplicity_metrics)

means = (claude_correct_tasks_df
    .groupby(GROUPING)
    # Select relevant columns to analyze
    [successful_solution_metrics]
    .mean())

means

                                              avg_test_time        loc  \
dataset          split model
mbpp             test  canonical_solution          0.049483   9.754717
                       claude_3_haiku_0_shot       0.044969  12.235849
openai_humaneval test  canonical_solution          0.000630  20.886792
                       claude_3_haiku_0_shot       0.000507  16.339623

                                                  lloc      sloc  comments  \
dataset          split model
mbpp             test  canonical_solution     8.783019  8.698113  1.000000
                       claude_3_haiku_0_shot  7.792453  7.283019  0.084906
openai_humaneval test  canonical_solution     8.839623  7.735849  0.018868
                       claude_3_haiku_0_shot  7.830189  6.933962  0.056604

                                                  multi     blank  \
dataset          split model
mbpp             test  canonical_solution      0.000000  0.056604
                       claude_3_haiku_0_shot   2.990566  1.867925
openai_humaneval test  canonical_solution     10.188679  2.943396
                       claude_3_haiku_0_shot   7.047170  2.254717

                                              single_comments        CC  \
dataset          split model
mbpp             test  canonical_solution            1.000000  3.339623
                       claude_3_haiku_0_shot         0.094340  2.962264
openai_humaneval test  canonical_solution            0.018868  3.575472
                       claude_3_haiku_0_shot         0.103774  3.462264

                                                    h1        h2        N1  \
dataset          split model
mbpp             test  canonical_solution     2.660377  5.811321  4.622642
                       claude_3_haiku_0_shot  2.490566  5.396226  4.150943
openai_humaneval test  canonical_solution     2.679245  5.981132  4.122642
                       claude_3_haiku_0_shot  2.915094  5.509434  3.839623

                                                    N2  vocabulary     length  \
dataset          split model
mbpp             test  canonical_solution     9.000000    8.471698  13.622642
                       claude_3_haiku_0_shot  8.103774    7.886792  12.254717
openai_humaneval test  canonical_solution     8.018868    8.660377  12.141509
                       claude_3_haiku_0_shot  7.254717    8.424528  11.094340

                                              calculated_length     volume  \
dataset          split model
mbpp             test  canonical_solution             24.628718  53.319253
                       claude_3_haiku_0_shot          22.322801  47.697408
openai_humaneval test  canonical_solution             22.884071  43.571574
                       claude_3_haiku_0_shot          21.714565  39.290925

                                              difficulty      effort  \
dataset          split model
mbpp             test  canonical_solution       2.076706  254.391406
                       claude_3_haiku_0_shot    1.872666  225.818862
openai_humaneval test  canonical_solution       1.855720  133.000919
                       claude_3_haiku_0_shot    1.969576  126.996514

                                                   time      bugs         MI
dataset          split model
mbpp             test  canonical_solution     14.132856  0.017773  89.552736
                       claude_3_haiku_0_shot  12.545492  0.015899  79.616909
openai_humaneval test  canonical_solution      7.388940  0.014524  84.143378
                       claude_3_haiku_0_shot   7.055362  0.013097  84.493031

In [145]:
std_devs = (claude_correct_tasks_df
    .groupby(GROUPING)
    # Select relevant columns to analyze
    [successful_solution_metrics]
    .std())

std_devs

                                              avg_test_time       loc  \
dataset          split model
mbpp             test  canonical_solution          0.508611  6.680193
                       claude_3_haiku_0_shot       0.462167  8.420555
openai_humaneval test  canonical_solution          0.003223  8.726883
                       claude_3_haiku_0_shot       0.002490  7.640602

                                                  lloc      sloc  comments  \
dataset          split model
mbpp             test  canonical_solution     6.297399  6.665004  0.000000
                       claude_3_haiku_0_shot  5.647953  6.018629  0.554083
openai_humaneval test  canonical_solution     4.826784  5.105183  0.194257
                       claude_3_haiku_0_shot  4.532363  4.565437  0.333243

                                                 multi     blank  \
dataset          split model
mbpp             test  canonical_solution     0.000000  0.333243
                       claude_3_haiku_0_shot  4.074299  1.831343
openai_humaneval test  canonical_solution     4.656001  1.672353
                       claude_3_haiku_0_shot  4.605136  1.580002

                                              single_comments        CC  \
dataset          split model
mbpp             test  canonical_solution            0.000000  2.046539
                       claude_3_haiku_0_shot         0.561093  1.706707
openai_humaneval test  canonical_solution            0.194257  2.088281
                       claude_3_haiku_0_shot         0.388630  1.981700

                                                    h1        h2        N1  \
dataset          split model
mbpp             test  canonical_solution     2.409848  6.016031  5.422094
                       claude_3_haiku_0_shot  2.330932  5.820619  5.280318
openai_humaneval test  canonical_solution     1.764988  4.472096  3.359997
                       claude_3_haiku_0_shot  2.042957  3.971914  2.966919

                                                     N2  vocabulary  \
dataset          split model
mbpp             test  canonical_solution     10.635072    8.247606
                       claude_3_haiku_0_shot  10.428833    7.974150
openai_humaneval test  canonical_solution      6.611651    5.950409
                       claude_3_haiku_0_shot   5.783493    5.801392

                                                 length  calculated_length  \
dataset          split model
mbpp             test  canonical_solution     16.052564          32.975497
                       claude_3_haiku_0_shot  15.706269          31.641543
openai_humaneval test  canonical_solution      9.957470          21.949414
                       claude_3_haiku_0_shot   8.733655          20.089768

                                                 volume  difficulty  \
dataset          split model
mbpp             test  canonical_solution     77.225089    2.206504
                       claude_3_haiku_0_shot  75.287975    2.128387
openai_humaneval test  canonical_solution     43.129557    1.557187
                       claude_3_haiku_0_shot  37.011889    1.668091

                                                  effort       time      bugs  \
dataset          split model
mbpp             test  canonical_solution     559.596915  31.088717  0.025742
                       claude_3_haiku_0_shot  527.102562  29.283476  0.025096
openai_humaneval test  canonical_solution     206.645463  11.480303  0.014377
                       claude_3_haiku_0_shot  177.000415   9.833356  0.012337

                                                     MI
dataset          split model
mbpp             test  canonical_solution     11.749034
                       claude_3_haiku_0_shot  15.766219
openai_humaneval test  canonical_solution     14.113865
                       claude_3_haiku_0_shot  13.932890

In [159]:
mbpp_deltas = means.iloc[1] - means.iloc[0]
humaneval_deltas = means.iloc[3] - means.iloc[2]
deltas = pd.DataFrame(
    dict(
        mbpp = mbpp_deltas,
        openai_humaneval = humaneval_deltas
    )
)
deltas

                        mbpp  openai_humaneval
avg_test_time      -0.004515         -0.000123
loc                 2.481132         -4.547170
lloc               -0.990566         -1.009434
sloc               -1.415094         -0.801887
comments           -0.915094          0.037736
multi               2.990566         -3.141509
blank               1.811321         -0.688679
single_comments    -0.905660          0.084906
CC                 -0.377358         -0.113208
h1                 -0.169811          0.235849
h2                 -0.415094         -0.471698
N1                 -0.471698         -0.283019
N2                 -0.896226         -0.764151
vocabulary         -0.584906         -0.235849
length             -1.367925         -1.047170
calculated_length  -2.305917         -1.169506
volume             -5.621845         -4.280649
difficulty         -0.204040          0.113856
effort            -28.572543         -6.004405
time               -1.587364         -0.333578
bugs               -0.001874         -0.001427
MI                 -9.935827          0.349653

In [238]:
# % Deltas (for table in paper)
round(pd.DataFrame(
    dict(
        mbpp = (means.iloc[1] - means.iloc[0])/means.iloc[0],
        openai_humaneval = (means.iloc[3] - means.iloc[2])/means.iloc[2]
    )
), 3) * 100

                     mbpp  openai_humaneval
avg_test_time        -9.1             -19.5
loc                  25.4             -21.8
lloc                -11.3             -11.4
sloc                -16.3             -10.4
comments            -91.5             200.0
multi                 inf             -30.8
blank              3200.0             -23.4
single_comments     -90.6             450.0
CC                  -11.3              -3.2
h1                   -6.4               8.8
h2                   -7.1              -7.9
N1                  -10.2              -6.9
N2                  -10.0              -9.5
vocabulary           -6.9              -2.7
length              -10.0              -8.6
calculated_length    -9.4              -5.1
volume              -10.5              -9.8
difficulty           -9.8               6.1
effort              -11.2              -4.5
time                -11.2              -4.5
bugs                -10.5              -9.8
MI                  -11.1               0.4

In [161]:
# http://www.stat.ucla.edu/~cochran/stat10/winter/lectures/lect21.html
squared_standard_errors = ((std_devs.T)**2 / claude_correct_tasks_df.value_counts(GROUPING)).T
standard_errors = (squared_standard_errors.groupby("dataset").sum())**0.5
z_scores = deltas / standard_errors.T
z_scores

                        mbpp  openai_humaneval
avg_test_time      -0.067636         -0.310973
loc                 2.376589         -4.036201
lloc               -1.205623         -1.569621
sloc               -1.622357         -1.205456
comments          -17.003718          1.007220
multi               7.557070         -4.938959
blank              10.018549         -3.081853
single_comments   -16.618194          2.011982
CC                 -1.457948         -0.404857
h1                 -0.521464          0.899409
h2                 -0.510536         -0.811938
N1                 -0.641671         -0.650062
N2                 -0.619478         -0.895629
vocabulary         -0.524921         -0.292188
length             -0.627104         -0.813993
calculated_length  -0.519484         -0.404661
volume             -0.536667         -0.775459
difficulty         -0.685228          0.513689
effort             -0.382660         -0.227203
time               -0.382660         -0.227203
bugs               -0.536667         -0.775459
MI                 -5.202577          0.181516

In [198]:
all_deltas = (claude_correct_tasks_df
        .query("model == 'claude_3_haiku_0_shot'")
        [successful_solution_metrics]
    - claude_correct_tasks_df
        .query("model == 'canonical_solution'")
        [successful_solution_metrics])

all_deltas

,avg_test_time,loc,lloc,sloc,comments,multi,blank,single_comments,CC,h1,h2,N1,N2,vocabulary,length,calculated_length,volume,difficulty,effort,time,bugs,MI
1,2.784585e-05,7,1,-1,-1,7,2,-1,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,-4.435423e-06,-14,-17,-16,-1,0,3,-1,2,-1,-4,-3,-6,-5,-9,-20.954618,-40.003064,-0.900000,-121.683745,-6.760208,-0.013334,0.651482
11,1.174533e-07,-6,-2,-2,-1,0,-3,-1,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-16.246946
13,1.953400e-06,-5,-4,-4,-1,0,0,-1,0,-3,-5,-4,-8,-8,-12,-30.138965,-53.022614,-2.333333,-212.931520,-11.829529,-0.017674,-8.540982
15,1.895260e-05,-6,-5,-5,-1,0,0,-1,-1,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-8.626777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,4.197402e-05,-8,-2,-4,0,-5,1,0,0,2,2,3,4,4,7,16.729056,34.225562,1.700000,235.163906,13.064661,0.011409,-1.516471
160,-1.063950e-05,-7,2,2,0,-10,1,0,2,4,6,3,6,10,9,36.828921,44.671790,2.000000,139.542613,7.752367,0.014891,35.324041
161,-5.711580e-06,-12,-5,-5,0,-6,-1,0,-1,-1,-4,-2,-5,-5,-7,-16.264663,-26.869175,-0.750000,-53.021056,-2.945614,-0.008956,7.139965
162,5.916840e-07,2,2,2,0,0,0,0,0,1,1,1,1,2,2,0.000000,2.000000,0.500000,1.000000,0.055556,0.000667,0.000000
163,3.303090e-06,-2,0,0,0,0,-2,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [202]:
percent_deltas = (
    all_deltas
    / claude_correct_tasks_df
        .query("model == 'canonical_solution'")
        [successful_solution_metrics])

percent_deltas.insert(
    0, "dataset",
    claude_correct_tasks_df
        .query("model == 'claude_3_haiku_0_shot'")
        ["dataset"]
)
percent_deltas

,dataset,avg_test_time,loc,lloc,sloc,comments,multi,blank,single_comments,CC,h1,h2,N1,N2,vocabulary,length,calculated_length,volume,difficulty,effort,time,bugs,MI
1,mbpp,0.215597,1.750000,0.333333,-0.333333,-1.0,inf,inf,-1.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
7,mbpp,-0.101367,-0.518519,-0.629630,-0.615385,-1.0,NaN,inf,-1.0,1.00,-0.250000,-0.400000,-0.500000,-0.500000,-0.357143,-0.500000,-0.508369,-0.583710,-0.375000,-0.739819,-0.739819,-0.583710,0.009752
11,mbpp,0.002356,-0.461538,-0.222222,-0.222222,-1.0,NaN,-1.000000,-1.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.180617
13,mbpp,0.067436,-0.500000,-0.444444,-0.444444,-1.0,NaN,NaN,-1.0,0.00,-0.600000,-0.555556,-0.666667,-0.666667,-0.571429,-0.666667,-0.750866,-0.773687,-0.700000,-0.932106,-0.932106,-0.773687,-0.100852
15,mbpp,0.194224,-0.750000,-0.714286,-0.714286,-1.0,NaN,NaN,-1.0,-0.25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.089014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,openai_humaneval,0.296498,-0.307692,-0.142857,-0.266667,NaN,-0.555556,0.500000,NaN,0.00,0.500000,0.250000,0.600000,0.400000,0.333333,0.466667,0.522783,0.636465,0.680000,1.749262,1.749262,0.636465,-0.016537
160,openai_humaneval,-0.087055,-0.233333,0.333333,0.400000,NaN,-0.500000,0.200000,NaN,1.00,4.000000,1.500000,1.500000,1.500000,2.000000,1.500000,4.603615,3.206515,4.000000,20.032577,20.032577,3.206515,0.705053
161,openai_humaneval,-0.063847,-0.461538,-0.294118,-0.333333,NaN,-0.600000,-1.000000,NaN,-0.20,-0.333333,-0.666667,-0.500000,-0.714286,-0.555556,-0.636364,-0.802612,-0.770571,-0.428571,-0.868898,-0.868898,-0.770571,0.078710
162,openai_humaneval,0.009343,0.200000,0.500000,0.666667,NaN,0.000000,0.000000,NaN,0.00,inf,inf,inf,inf,inf,inf,NaN,inf,inf,inf,inf,inf,0.000000
163,openai_humaneval,0.037192,-0.133333,0.000000,0.000000,NaN,0.000000,-0.666667,NaN,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [217]:
percent_deltas[should_increase]

     comments     multi  single_comments        MI
1        -1.0       inf             -1.0  0.000000
7        -1.0       NaN             -1.0  0.009752
11       -1.0       NaN             -1.0 -0.180617
13       -1.0       NaN             -1.0 -0.100852
15       -1.0       NaN             -1.0 -0.089014
..        ...       ...              ...       ...
156       NaN -0.555556              NaN -0.016537
160       NaN -0.500000              NaN  0.705053
161       NaN -0.600000              NaN  0.078710
162       NaN  0.000000              NaN  0.000000
163       NaN  0.000000              NaN  0.000000

[212 rows x 4 columns]

In [232]:
should_increase = ["comments", "multi", "single_comments", "MI"]
# all_deltas.insert(
#     0,
#     "dataset",
#     claude_correct_tasks_df
#         .query("model == 'claude_3_haiku_0_shot'")
#         ["dataset"]
# )

print("% Increased:")
print(
    all_deltas
    .groupby("dataset")
    [should_increase]
    .apply(lambda c: c > 0)
    .groupby("dataset")
    .mean()
    .T)
print("")
print("Avg. % Increase when Increased:")
pd.DataFrame([
    dict(
        dataset = dataset,
        **{
            metric:
                percent_deltas
                .query(f"dataset == '{dataset}' and {metric} > 0")
                [metric]
                .mean()
            for metric in should_increase
        }
    )
    for dataset in ["mbpp", "openai_humaneval"]
]).T

% Increased:
dataset              mbpp  openai_humaneval
comments         0.028302          0.028302
multi            0.386792          0.330189
single_comments  0.028302          0.066038
MI               0.188679          0.386792

Avg. % Increase when Increased:

                        0                 1
dataset              mbpp  openai_humaneval
comments              2.0               inf
multi                 inf          0.483506
single_comments       2.0               inf
MI               0.088988          0.217426

In [233]:
should_decrease = [
    metric for metric in successful_solution_metrics
    if metric not in should_increase
]
print("% Decreased:")
print(all_deltas.groupby("dataset")[should_decrease].apply(lambda c: c < 0).groupby("dataset").mean().T)
print("")
print("Avg. % Decrease when Decreased:")
pd.DataFrame([
    dict(
        dataset = dataset,
        **{
            metric:
                percent_deltas
                .query(f"dataset == '{dataset}' and {metric} < 0")
                [metric]
                .mean()
            for metric in should_decrease
        }
    )
    for dataset in ["mbpp", "openai_humaneval"]
]).T

% Decreased:
dataset                mbpp  openai_humaneval
avg_test_time      0.566038          0.632075
loc                0.396226          0.688679
lloc               0.481132          0.433962
sloc               0.594340          0.386792
blank              0.018868          0.471698
CC                 0.320755          0.264151
h1                 0.235849          0.198113
h2                 0.311321          0.367925
N1                 0.301887          0.311321
N2                 0.320755          0.349057
vocabulary         0.320755          0.339623
length             0.320755          0.349057
calculated_length  0.330189          0.358491
volume             0.349057          0.377358
difficulty         0.283019          0.254717
effort             0.349057          0.349057
time               0.349057          0.349057
bugs               0.349057          0.377358

Avg. % Decrease when Decreased:

                          0                 1
dataset                mbpp  openai_humaneval
avg_test_time     -0.108976         -0.152113
loc               -0.369325         -0.349066
lloc              -0.349835         -0.348159
sloc              -0.370846         -0.394434
blank                  -1.0         -0.625786
CC                -0.383147          -0.33835
h1                -0.487429         -0.471429
h2                 -0.41347         -0.387362
N1                -0.461511         -0.417352
N2                -0.454079         -0.430349
vocabulary        -0.385715         -0.364835
length             -0.44763         -0.410107
calculated_length -0.458624         -0.492818
volume            -0.471579         -0.456017
difficulty        -0.469589         -0.448787
effort            -0.570024         -0.560917
time              -0.570024         -0.560917
bugs              -0.471579         -0.456017

In [ ]:
friendly_metric_names = {
    "loc": "# total lines of code",
    "lloc": "# logical lines of code",
    "sloc": "# source lines of code",
    "comments": "# single-line (#) comment lines",
    "multi": "# multi-line strings lines",
    "blank": "# white-space only lines",
    "single_comments": "# single-line (#) comment-only lines",
    "CC": "Cylomatic Complexity",
    "h1": "# distinct operators",
    "h2": "# distinct operands",
    "N1": "# total operators",
    "N2": "# total operands",
    "vocabulary": "Vocabulary size (distinct operators + operands)",
    "length": "Program length (total operators + operands)",
    "calculated_length": "Halstead estimated program length",
    "volume": "Halstead volume",
    "difficulty": "Halstead difficulty",
    "effort": "Halstead effort",
    "time": "Halstead time required to program",
    "bugs": "Halstead estimated bugs",
    "MI": "Maintainability Index"
}

### Correctness Failure Investigation

In [58]:
canonical_solutions = [
    task["prompt"] + task["canonical_solution"] for task in humaneval["test"]
]
print(canonical_solutions[32])

import math


def poly(xs: list, x: float):
    """
    Evaluates polynomial with coefficients xs at point x.
    return xs[0] + xs[1] * x + xs[1] * x^2 + .... xs[n] * x^n
    """
    return sum([coeff * math.pow(x, i) for i, coeff in enumerate(xs)])


def find_zero(xs: list):
    """ xs are coefficients of a polynomial.
    find_zero find x such that poly(x) = 0.
    find_zero returns only only zero point, even if there are many.
    Moreover, find_zero only takes list xs having even number of coefficients
    and largest non zero coefficient as it guarantees
    a solution.
    >>> round(find_zero([1, 2]), 2) # f(x) = 1 + 2x
    -0.5
    >>> round(find_zero([-6, 11, -6, 1]), 2) # (x - 1) * (x - 2) * (x - 3) = -6 + 11x - 6x^2 + x^3
    1.0
    """
    begin, end = -1., 1.
    while poly(xs, begin) * poly(xs, end) > 0:
        begin *= 2.0
        end *= 2.0
    while end - begin > 1e-10:
        center = (begin + end) / 2.0
        if poly(xs, center) * poly(xs, begin) > 0:
            begin = center
        else:
            end = center
    return begin

In [53]:
# print(humaneval["test"][9]["test"])

In [124]:
df.query("model == 'claude_3_haiku_0_shot' and not passed_tests")[["dataset", "task_id", "result", "code"]]

,dataset,task_id,result,code
0,mbpp,0,failed: name 'remove_Occ' is not defined,"def remove_occurrences(string, char):\n res..."
2,mbpp,2,failed: name 'count_common' is not defined,from collections import Counter\n\ndef count_m...
3,mbpp,3,failed: name 'find_Volume' is not defined,"def calculate_triangular_prism_volume(length, ..."
4,mbpp,4,failed: name 'split_lowerstring' is not defined,"def split_at_lowercase(text):\n """"""\n Sp..."
5,mbpp,5,failed: name 'text_lowercase_underscore' is no...,import re\n\ndef find_lowercase_underscore_seq...
...,...,...,...,...
153,openai_humaneval,153,failed: name 'Strongest_Extension' is not defined,"def strongest_extension(class_name, extensions..."
154,openai_humaneval,154,failed: name 'cycpattern_check' is not defined,"def cyclic_pattern_check(string_a, string_b):\..."
157,openai_humaneval,157,failed: name 'right_angle_triangle' is not def...,"def is_right_angle_triangle(a, b, c):\n """"""..."
158,openai_humaneval,158,failed: t1,"def find_max(words):\n """"""\n Find the wo..."
159,openai_humaneval,159,failed: Error,"def eat(number_eaten, needed, remaining):\n ..."

model == 'claude_3_haiku_0_shot'and dataset == 'mbpp'and not passed_tests

In [133]:
(df
    .query(
        "model == 'claude_3_haiku_0_shot'"
        " and dataset == 'mbpp'"
        " and not passed_tests"
    )
    [["dataset", "task_id", "result", "code"]])

,dataset,task_id,result,code
0,mbpp,0,failed: name 'remove_Occ' is not defined,"def remove_occurrences(string, char):\n res..."
2,mbpp,2,failed: name 'count_common' is not defined,from collections import Counter\n\ndef count_m...
3,mbpp,3,failed: name 'find_Volume' is not defined,"def calculate_triangular_prism_volume(length, ..."
4,mbpp,4,failed: name 'split_lowerstring' is not defined,"def split_at_lowercase(text):\n """"""\n Sp..."
5,mbpp,5,failed: name 'text_lowercase_underscore' is no...,import re\n\ndef find_lowercase_underscore_seq...
...,...,...,...,...
493,mbpp,493,failed: name 'sum_Of_Series' is not defined,def sum_of_cubes(n):\n return (n * (n + 1) ...
494,mbpp,494,failed: name 're_order' is not defined,"def move_zeroes_to_end(arr):\n """"""\n Mov..."
497,mbpp,497,failed: name 'same_order' is not defined,"def check_common_order(list1, list2):\n """"""..."
498,mbpp,498,failed: name 'average_Odd' is not defined,def average_odd(n):\n if n % 2 == 0:\n ...
499,mbpp,499,failed: name 'no_of_subsequences' is not defined,def count_subsequences_with_product_less_than_...

In [134]:
for i, row in (df
    .query(
        "model == 'claude_3_haiku_0_shot'"
        " and dataset == 'mbpp'"
        " and not passed_tests"
    )
    [["dataset", "task_id", "result", "code"]]).iterrows():
    print(str(row["task_id"]) + ": " + row["result"])

0: failed: name 'remove_Occ' is not defined
2: failed: name 'count_common' is not defined
3: failed: name 'find_Volume' is not defined
4: failed: name 'split_lowerstring' is not defined
5: failed: name 'text_lowercase_underscore' is not defined
6: failed: name 'square_perimeter' is not defined
8: failed: name 'test_duplicate' is not defined
9: failed:
10: failed: name 'multiples_of_num' is not defined
12: failed: name 'maximum_Sum' is not defined
14: failed: name 'find_Product' is not defined
16: failed: name 'remove' is not defined
17: failed: name 'binomial_Coeff' is not defined
18: failed: name 'get_Odd_Occurrence' is not defined
19: failed: name 'count_Substring_With_Equal_Ends' is not defined
20: failed: name 'func' is not defined
21: failed: name 'max_Prime_Factors' is not defined
22: failed: name 'decimal_To_Binary' is not defined
24: failed: name 'find_rect_num' is not defined
25: failed: name 'find_Nth_Digit' is not defined
27: failed: name 'div_even_odd' is not defined
28: failed: name 'rearange_string' is not defined
29: failed: name 'freq_element' is not defined
30: failed: name 'filter_evennumbers' is not defined
31: failed: name 'find_Sum' is not defined
32: failed: name 'text_match' is not defined
33: failed: name 'text_match_string' is not defined
34: failed: name 'get_gcd' is not defined
35: failed: name 'test_distinct' is not defined
36: failed: name 'compute_Last_Digit' is not defined
37: failed: name 'odd_bit_set_number' is not defined
38: failed: name 'specified_element' is not defined
40: failed: name 'check_equilateral' is not defined
41: failed: name 'parallelogram_area' is not defined
42: failed: name 'check_Equality' is not defined
44: failed: name 'tn_gp' is not defined
45: failed: name 'check' is not defined
46: failed: name 'find_Max_Num' is not defined
47: failed: name 'opposite_Signs' is not defined
48: failed: name 'is_octagonal' is not defined
49: failed: name 'max_len_sub' is not defined
50: failed: name 'count_Substrings' is not defined
51: failed: name 'smallest_num' is not defined
53: failed: name 'subject_marks' is not defined
55: failed: name 'pos_count' is not defined
57: failed: name 'is_Monotonic' is not defined
59: failed: name 'get_equal' is not defined
61: failed: name 'dif_Square' is not defined
62: failed: name 'multiple_split' is not defined
63: failed: name 'is_samepatterns' is not defined
64: failed: name 'find_tuples' is not defined
65: failed: name 'count_Squares' is not defined
66: failed: name 'is_Diff' is not defined
67: failed: name 'count_With_Odd_SetBits' is not defined
68: failed: name 'word_len' is not defined
69: failed: name 'tetrahedral_number' is not defined
71: failed: name 'volume_sphere' is not defined
72: failed: name 'get_Char' is not defined
73: failed: name 'sequence' is not defined
74: failed: name 'surfacearea_sphere' is not defined
75: failed: name 'centered_hexagonal_number' is not defined
76: failed:
77: failed: name 'freq_count' is not defined
78: failed: name 'closest_num' is not defined
79: failed: name 'len_log' is not defined
80: failed: name 'find_substring' is not defined
81: failed:
83: failed: name 'index_minimum' is not defined
84: failed: name 'Find_Min_Length' is not defined
85: failed: name 'divisor' is not defined
86: failed: name 'frequency_lists' is not defined
87: failed: name 'multiply_num' is not defined
89: failed:
90: failed: name 'kth_element' is not defined
91: failed:
92: failed: name 'eulerian_num' is not defined
94: failed: name 'count' is not defined
96: failed: name 'count_Hexadecimal' is not defined
97: failed: name 'merge_sorted_list' is not defined
98: failed: name 'odd_Equivalent' is not defined
99: failed:
100: failed: name 'common_in_nested_lists' is not defined
101: failed: name 'perimeter' is not defined
102: failed: name 'check_integer' is not defined
103: failed: name 'assign_freq' is not defined
104: failed: name 'empty_dit' is not defined
105: failed: name 'tuple_to_int' is not defined
107: failed: name 'string_to_list' is not defined
108: failed: name 'search' is not defined
109: failed: name 'max_product_tuple' is not defined
110: failed: name 'check_triplet' is not defined
111: failed: name 'smartNumber' is not defined
113: failed: name 'angle_complex' is not defined
114: failed: name 'find_length' is not defined
115: failed: 'int' object is not iterable
117: failed: name 'long_words' is not defined
118: failed: name 'magic_square_test' is not defined
119: failed: name 'max_occurrences' is not defined
121: failed: name 'tup_string' is not defined
122: failed: name 'sum_negativenum' is not defined
124: failed: name 'hexagonal_num' is not defined
125: failed: name 'cal_electbill' is not defined
126: failed: name 'zero_count' is not defined
127: failed: name 'is_Sum_Of_Powers_Of_Two' is not defined
128: failed: name 'circle_circumference' is not defined
129: failed:
130: failed: 5 is not in list
131: failed: name 'count_samepair' is not defined
132: failed: name 'find_lists' is not defined
133: failed: name 'sum_Pairs' is not defined
134: failed: name 'max_Abs_Diff' is not defined
135: failed: name 'ascii_value_string' is not defined
136: failed: max_path_sum() takes 1 positional argument but 3 were given
137: failed: name 'sum_digits_twoparts' is not defined
138: failed: name 'longest_subseq_with_diff_one' is not defined
139: failed: name 'does_Contain_B' is not defined
142: failed: name 'parabola_vertex' is not defined
143: failed: name 'specified_element' is not defined
144: failed: name 'even_bit_toggle_number' is not defined
145: failed: name 'tuple_int_str' is not defined
146: failed: name 'groupby' is not defined
147: failed: name 'min_Ops' is not defined
148: failed: name 'month_season' is not defined
149: failed: name 'solution' is not defined
152: failed: name 'area_polygon' is not defined
153: failed: name 'areEquivalent' is not defined
155: failed: name 'find_even_Pair' is not defined
156: failed: name 'next_Power_Of_2' is not defined
157: failed: name 'frequency' is not defined
160: failed: name 'perimeter_pentagon' is not defined
161: failed: name 'count_occurance' is not defined
162: failed: name 'remove_splchar' is not defined
164: failed: name 'is_valid_parenthese' is not defined
165: failed: name 'perimeter_triangle' is not defined
166: failed: name 'answer' is not defined
167: failed: name 'string_literals' is not defined
168: failed: name 'is_num_keith' is not defined
169: failed: name 'distance_lat_long' is not defined
170: failed: name 'common_prefix' is not defined
171: failed: name 'find_character' is not defined
172: failed: name 'count_pairs' is not defined
173: failed: name 'greater_specificnum' is not defined
174: failed: name 'parabola_focus' is not defined
175: failed:
176: failed: longest_common_subsequence() takes 2 positional arguments but 4 were given
177: failed: name 'prod_Square' is not defined
178: failed: name 'first_Missing_Positive' is not defined
179: failed: name 'count_Intgral_Points' is not defined
180: failed: name 'check_monthnumber' is not defined
181: failed: name 'check_String' is not defined
182: failed: name 'remove_tuple' is not defined
183: failed: name 'octal_To_Decimal' is not defined
184: failed: name 'first' is not defined
186: failed: name 'find_exponentio' is not defined
187: failed: name 'largest_triangle' is not defined
188: failed: name 'highest_Power_of_2' is not defined
189: failed: name 'position_max' is not defined
190: failed: name 'chkList' is not defined
191: failed: name 'remove_even' is not defined
192: failed: name 'hamming_Distance' is not defined
193: failed: name 'count' is not defined
194: failed: name 'inversion_elements' is not defined
195: failed: name 'concatenate_elements' is not defined
196: failed: name 'find_longest_repeating_subseq' is not defined
198: failed: name 'hq' is not defined
200: failed: name 'count_Num' is not defined
201: failed: name 'fourth_Power_Sum' is not defined
203: failed: name 'degree_radian' is not defined
205: failed: name 'check_subset_list' is not defined
206: failed: name 'first_Repeated_Char' is not defined
207: failed: name 'min_Operations' is not defined
208: failed:
209: failed: name 'replace_max_specialchar' is not defined
210: failed: name 'first_even' is not defined
213: failed: name 'count_Set_Bits' is not defined
214: failed: name 'find_Min' is not defined
215: failed: name 'odd_values_string' is not defined
216: failed: name 'min_of_three' is not defined
217: failed: name 'all_Bits_Set_In_The_Given_Range' is not defined
218: failed: name 're_arrange_array' is not defined
219: failed: name 'replace_blank' is not defined
220: failed: name 'max_sum' is not defined
221: failed: name 'larg_nnum' is not defined
222: failed: name 'lateralsuface_cylinder' is not defined
223: failed: name 'volume_cube' is not defined
224: failed: name 'even_bit_set_number' is not defined
225: failed: name 'No_of_Triangle' is not defined
226: failed: name 'check_occurences' is not defined
227: failed: name 'number_of_substrings' is not defined
229: failed: name 'replace_list' is not defined
230: failed: name 'array_3d' is not defined
231: failed: name 'count_charac' is not defined
232: failed: name 'sort_on_occurence' is not defined
233: failed: name 'next_Perfect_Square' is not defined
234: failed: name 'max_sum' is not defined
235: failed: name 'babylonian_squareroot' is not defined
236: failed: name 'lps' is not defined
238: failed:
239: failed: name 'count_X' is not defined
241: failed: name 'convert' is not defined
242: failed: name 'count_integer' is not defined
243: failed: name 'words_ae' is not defined
244: failed: name 'combinations_colors' is not defined
245: failed: name 'count_Primes_nums' is not defined
248: failed:
249: failed: name 'newman_prime' is not defined
250: failed: name 'division_elements' is not defined
251: failed: name 'split_two_parts' is not defined
252: failed: name 'merge_dict' is not defined
253: failed: name 'dog_age' is not defined
254: failed: name 'list_split' is not defined
255: failed: name 'lateralsurface_cube' is not defined
256: failed: name 'square_Sum' is not defined
257: failed: name 'find_star_num' is not defined
258: failed: name 'ascii_value' is not defined
259: failed: name 'sum_even_and_even_index' is not defined
260: failed: name 'even_Power_Sum' is not defined
261: failed: name 'rear_extract' is not defined
262: failed: name 'substract_elements' is not defined
263: failed: name 'even_binomial_Coeff_Sum' is not defined
264: failed: name 'get_Position' is not defined
265: failed: name 'volume_cylinder' is not defined
266: failed: name 'dict_filter' is not defined
268: failed: name 'is_num_decagonal' is not defined
270: failed: name 'all_unique' is not defined
271: failed: name 'sub_list' is not defined
273: failed: name 'check_element' is not defined
276: failed: name 'square_Sum' is not defined
277: failed: name 'modular_inverse' is not defined
278: failed: name 'odd_Days' is not defined
279: failed: name 'max_length' is not defined
281: failed: name 'find' is not defined
282: failed: name 'otherside_rightangle' is not defined
283: failed: name 'max_val' is not defined
284: failed: name 'sum_div' is not defined
285: failed: name 'get_Inv_Count' is not defined
286: failed:
287: failed: name 'intersection_nested_lists' is not defined
288: failed: name 'max_aggregate' is not defined
290: failed: name 'dict_depth' is not defined
291: failed: name 'set_Bit_Number' is not defined
292: failed: name 'solve' is not defined
293: failed: name 'find_Element' is not defined
294: failed: name 'start_withp' is not defined
296: failed: name 'colon_tuplex' is not defined
297: failed: name 'large_product' is not defined
298: failed: name 'maximum' is not defined
299: failed: name 'string_to_tuple' is not defined
300: failed:
301: failed: name 'volume_cone' is not defined
302: failed: name 'pos_nos' is not defined
304: failed: name 'find_Max_Len_Even' is not defined
308: failed: name 'find_long_word' is not defined
311: failed: name 'position_min' is not defined
312: failed: name 're_arrange' is not defined
313: failed:
314: failed: name 'get_Min_Squares' is not defined
316: failed: name 'check_isosceles' is not defined
317: failed:
318: failed: name 'neg_count' is not defined
319: failed: name 'find_char' is not defined
322: failed: name 'Sort' is not defined
323: failed: name 'check_Validity' is not defined
324: failed: name 'ap_sum' is not defined
325: failed: name 'check_monthnum' is not defined
326: failed:
327: failed: name 'count_Substring_With_Equal_Ends' is not defined
328: failed: name 'find_Divisor' is not defined
329: failed: name 'sum_three_smallest_nums' is not defined
330: failed: name 'set_to_tuple' is not defined
332: failed: name 'dig_let' is not defined
333: failed: name 'count_Odd_Squares' is not defined
334: failed: name 'diff_consecutivenums' is not defined
335: failed: name 'zigzag' is not defined
336: failed: name 'count_Squares' is not defined
338: failed: name 'check' is not defined
339: failed: name 'minimum_Length' is not defined
340: failed: name 'first_Element' is not defined
341: failed: name 'unique_Characters' is not defined
343: failed: name 'tn_ap' is not defined
344: failed: name 'count_Rectangles' is not defined
345: failed: name 'find_angle' is not defined
348: failed: name 'Check_Solution' is not defined
350: failed: name 'remove_empty' is not defined
351: failed: name 'max_occurrences' is not defined
352: failed: name 'add_K_element' is not defined
354: failed: name 'count_Digit' is not defined
355: failed: name 'adjacent_num_product' is not defined
356: failed: name 'is_tree_balanced' is not defined
357: failed: name 'repeat_tuples' is not defined
358: failed: name 'lateralsurface_cuboid' is not defined
359: failed: name 'float_sort' is not defined
360: failed: name 'smallest_missing' is not defined
361: failed: name 'heap_assending' is not defined
362: failed: name 'volume_cuboid' is not defined
364: failed: name 'round_num' is not defined
365: failed: name 'remove_replica' is not defined
366: failed: name 'remove_Char' is not defined
367: failed: name 'move_first' is not defined
368: failed: name 'surfacearea_cuboid' is not defined
369: failed: name 'multi_list' is not defined
370: failed: name 'index_on_inner_list' is not defined
372: failed: name 'even_bit_toggle_number' is not defined
373: failed: name 'frequency_Of_Smallest' is not defined
374: failed: name 'get_perrin' is not defined
376: failed: name 'even_or_odd' is not defined
377: failed: name 'highest_Power_of_2' is not defined
378: failed: name 'find_lucas' is not defined
379: failed: name 'add_string' is not defined
380: failed: name 'convert_list_dictionary' is not defined
381: failed:
382: failed: name 'max_length_list' is not defined
383: failed: name 'check_distinct' is not defined
385: failed:
392: failed: name 'is_valid_URL' is not defined
393: failed: name 'minimum' is not defined
394: failed: name 'check_tuplex' is not defined
395: failed: name 'find_Parity' is not defined
397: failed: name 'heapq' is not defined
398: failed: name 'min_product_tuple' is not defined
399: failed: name 'min_val' is not defined
400: failed: name 'snake_to_camel' is not defined
403: failed: name 'overlapping' is not defined
404: failed: name 'max_Product' is not defined
405: failed: name 'breakSum' is not defined
406: failed: name 'group_tuples' is not defined
407: failed: name 'Find_Max' is not defined
409: failed: name 'cube_Sum' is not defined
411: failed: name 'find_Average_Of_Cube' is not defined
412: failed: name 'get_maxgold' is not defined
414: failed: name 'count_element_in_list' is not defined
415: failed: name 'filter_oddnumbers' is not defined
416: failed: name 'change_date_format' is not defined
418: failed: name 'and_tuples' is not defined
419: failed: name 'parabola_directrix' is not defined
420: failed: name 'common_element' is not defined
421: failed: name 'median_trapezium' is not defined
422: failed: name 'check_greater' is not defined
424: failed: name 'last_Digit' is not defined
425: failed: name 'neg_nos' is not defined
426: failed: name 'remove_odd' is not defined
427: failed:
428: failed: name 'multiple_to_single' is not defined
429: failed: name 'find_adverb_position' is not defined
430: failed: name 'surfacearea_cube' is not defined
431: failed: name 'positive_count' is not defined
432: failed: name 'largest_neg' is not defined
433: failed:
434: failed: can't multiply sequence by non-int of type 'tuple'
435: failed: name 'count_Occurrence' is not defined
437: failed: name 'cal_sum' is not defined
438: failed: name 'check_Triangle' is not defined
439: failed: name 'extract_string' is not defined
441: failed: name 'loss_amount' is not defined
442: failed: name 'sumofFactors' is not defined
443: failed: name 'text_match_wordz' is not defined
444: failed: name 'check_monthnumb_number' is not defined
445: failed: name 'reverse_string_list' is not defined
446: failed: name 'Find_Min' is not defined
447: failed: name 'rectangle_area' is not defined
449: failed: name 'Extract' is not defined
450: failed: name 'upper_ctr' is not defined
451: failed:
453: failed: name 'check_value' is not defined
454: failed: name 'drop_empty' is not defined
455: failed: find_peak() takes 1 positional argument but 2 were given
456: failed: name 'decimal_to_Octal' is not defined
457: failed: name 'max_product' is not defined
460: failed: find_remainder() takes 2 positional arguments but 3 were given
461: failed: name 'check_Consecutive' is not defined
463: failed: name 'replace_char' is not defined
465: failed: name 'big_sum' is not defined
466: failed: name 'is_lower' is not defined
468: failed: name 'first_Digit' is not defined
469: failed: name 'get_max_occuring_char' is not defined
470: failed: is_subset_sum() takes 2 positional arguments but 3 were given
471: failed: name 'match' is not defined
472: failed: name 'first_Factorial_Divisible_Number' is not defined
473: failed: name 'remove_matching_tuple' is not defined
477: failed: name 'area_pentagon' is not defined
478: failed: name 'frequency_Of_Largest' is not defined
480: failed: name 'sum_gp' is not defined
485: failed: name 'heap_queue_smallest' is not defined
486: failed: name 'surfacearea_cone' is not defined
488: failed: name 'diameter_circle' is not defined
489: failed:
490: failed: name 'num_comm_div' is not defined
491: failed: name 'find' is not defined
492: failed: name 'add_consecutive_nums' is not defined
493: failed: name 'sum_Of_Series' is not defined
494: failed: name 're_order' is not defined
497: failed: name 'same_order' is not defined
498: failed: name 'average_Odd' is not defined
499: failed: name 'no_of_subsequences' is not defined

In [45]:
for i, row in df.query("model == 'claude_3_haiku_0_shot' and not passed_tests")[["task_id", "result", "code"]].iterrows():
    print(str(row["task_id"]) + ": " + row["result"])
    print(row["code"])
    print("-" * 80)

4: failed: name 'mean_absolute_deviation' is not defined
from typing import List

def calculate_mean_absolute_deviation(numbers: List[float]) -> float:
    """
    Calculates the Mean Absolute Deviation (MAD) for a given list of numbers.

    MAD is the average absolute difference between each element and the mean of the dataset.

    Args:
        numbers (List[float]): The input list of numbers.

    Returns:
        float: The Mean Absolute Deviation.
    """
    mean = sum(numbers) / len(numbers)
    deviations = [abs(x - mean) for x in numbers]
    return sum(deviations) / len(numbers)
--------------------------------------------------------------------------------
7: failed: name 'filter_by_substring' is not defined
from typing import List

def filter_strings_by_substring(strings: List[str], substring: str) -> List[str]:
    """
    Filter a list of strings to only include those that contain the given substring.

    Args:
        strings (List[str]): The list of strings to filter.
        substring (str): The substring to search for.

    Returns:
        List[str]: A new list containing only the strings that contain the given substring.
    """
    return [s for s in strings if substring in s]
--------------------------------------------------------------------------------
9: failed: list index out of range
from typing import List

def rolling_max(numbers: List[int]) -> List[int]:
    """
    Generates a list of rolling maximum elements found until the given moment in the sequence.

    Args:
        numbers (List[int]): The input list of integers.

    Returns:
        List[int]: The list of rolling maximum elements.

    Example:
        >>> rolling_max([1, 2, 3, 2, 3, 4, 2])
        [1, 2, 3, 3, 3, 4, 4]
    """
    result = [numbers[0]]
    max_so_far = numbers[0]

    for num in numbers[1:]:
        max_so_far = max(max_so_far, num)
        result.append(max_so_far)

    return result
--------------------------------------------------------------------------------
10: failed:
def is_palindrome(string: str) -> bool:
    return string == string[::-1]

def make_palindrome(string: str) -> str:
    if not string:
        return ''

    for i in range(len(string), -1, -1):
        if is_palindrome(string[:i]):
            return string + string[i-1::-1]

    return string + string[::-1]
--------------------------------------------------------------------------------
13: failed: name 'greatest_common_divisor' is not defined
def gcd(a: int, b: int) -> int:
    """
    Compute the greatest common divisor of two integers.

    Args:
        a (int): The first integer.
        b (int): The second integer.

    Returns:
        int: The greatest common divisor of `a` and `b`.
    """
    while b != 0:
        a, b = b, a % b
    return a
--------------------------------------------------------------------------------
15: failed: name 'string_sequence' is not defined
def generate_sequence(n: int) -> str:
    """
    Generate a space-delimited string of numbers from 0 to n inclusive.

    Args:
        n (int): The upper bound of the sequence.

    Returns:
        str: The space-delimited sequence of numbers.
    """
    return ' '.join(map(str, range(n + 1)))
--------------------------------------------------------------------------------
23: failed: name 'strlen' is not defined
def get_string_length(input_string: str) -> int:
    """
    Returns the length of the given string.

    Examples:
    >>> get_string_length('')
    0
    >>> get_string_length('abc')
    3
    """
    return len(input_string)
--------------------------------------------------------------------------------
26: failed:
from typing import List

def remove_duplicates(numbers: List[int]) -> List[int]:
    """
    Remove all duplicate elements from the given list while preserving the original order.

    Args:
        numbers (List[int]): A list of integers.

    Returns:
        List[int]: A list of integers with all duplicate elements removed.
    """
    seen = set()
    result = []
    for num in numbers:
        if num not in seen:
            seen.add(num)
            result.append(num)
    return result
--------------------------------------------------------------------------------
29: failed: name 'filter_by_prefix' is not defined
from typing import List

def filter_strings_by_prefix(strings: List[str], prefix: str) -> List[str]:
    """
    Filter a list of strings to only include those that start with the given prefix.

    Args:
        strings (List[str]): The list of strings to filter.
        prefix (str): The prefix to filter the strings by.

    Returns:
        List[str]: A new list containing only the strings that start with the given prefix.
    """
    return [s for s in strings if s.startswith(prefix)]
--------------------------------------------------------------------------------
32: failed: name 'find_zero' is not defined
import math

def evaluate_polynomial(coefficients: list, x: float) -> float:
    """
    Evaluates a polynomial with the given coefficients at the specified point.
    """
    return sum(coeff * x ** i for i, coeff in enumerate(coefficients))

def find_root(coefficients: list) -> float:
    """
    Finds a root of the polynomial with the given coefficients using the bisection method.
    Assumes that the polynomial has an even number of coefficients and the highest coefficient is non-zero.
    """
    if len(coefficients) % 2 != 0 or coefficients[-1] == 0:
        raise ValueError("Invalid polynomial coefficients")

    lower, upper = -1.0, 1.0
    while evaluate_polynomial(coefficients, lower) * evaluate_polynomial(coefficients, upper) > 0:
        lower *= 2
        upper *= 2

    while abs(upper - lower) > 1e-10:
        mid = (lower + upper) / 2
        if evaluate_polynomial(coefficients, lower) * evaluate_polynomial(coefficients, mid) > 0:
            lower = mid
        else:
            upper = mid

    return lower
--------------------------------------------------------------------------------
39: timed out
def is_prime(n: int) -> bool:
    """
    Checks if a number is prime.
    """
    if n < 2:
        return False
    return all(n % i != 0 for i in range(2, int(n ** 0.5) + 1))

def fibonacci(n: int) -> int:
    """
    Returns the n-th Fibonacci number.
    """
    if n <= 1:
        return n
    return fibonacci(n - 1) + fibonacci(n - 2)

def prime_fib(n: int) -> int:
    """
    Returns the n-th number that is a Fibonacci number and is also prime.
    """
    i = 0
    count = 0
    while count < n:
        fib = fibonacci(i)
        if is_prime(fib):
            count += 1
        i += 1
    return fibonacci(i - 1)
--------------------------------------------------------------------------------
41: failed:
def car_race_collision(n: int) -> int:
    """
    Calculate the number of collisions between cars moving in opposite directions on an infinitely long road.

    Args:
        n (int): The number of cars moving in each direction.

    Returns:
        int: The number of collisions.
    """
    return n * (n - 1)
--------------------------------------------------------------------------------
42: failed: name 'incr_list' is not defined
def increment_list(lst: list) -> list:
    """
    Return a new list with each element incremented by 1.

    Args:
        lst (list): The input list to be incremented.

    Returns:
        list: A new list with each element incremented by 1.

    Examples:
        >>> increment_list([1, 2, 3])
        [2, 3, 4]
        >>> increment_list([5, 3, 5, 2, 3, 3, 9, 0, 123])
        [6, 4, 6, 3, 4, 4, 10, 1, 124]
    """
    return [x + 1 for x in lst]
--------------------------------------------------------------------------------
45: failed: name 'triangle_area' is not defined
def calculate_triangle_area(side_length, height):
    """
    Calculates the area of a triangle given the length of one side and the height.

    Args:
        side_length (float): The length of one side of the triangle.
        height (float): The height of the triangle.

    Returns:
        float: The area of the triangle.
    """
    return 0.5 * side_length * height
--------------------------------------------------------------------------------
52: failed: name 'below_threshold' is not defined
def is_all_below_threshold(numbers: list, threshold: int) -> bool:
    """Return True if all numbers in the list are below the given threshold."""
    return all(num < threshold for num in numbers)
--------------------------------------------------------------------------------
54: failed: name 'same_chars' is not defined
def are_characters_same(s1: str, s2: str) -> bool:
    """
    Check if two strings have the same characters.

    Args:
        s1 (str): The first string to compare.
        s2 (str): The second string to compare.

    Returns:
        bool: True if the two strings have the same characters, False otherwise.

    Examples:
        >>> are_characters_same('eabcdzzzz', 'dddzzzzzzzddeddabc')
        True
        >>> are_characters_same('abcd', 'dddddddabc')
        True
        >>> are_characters_same('dddddddabc', 'abcd')
        True
        >>> are_characters_same('eabcd', 'dddddddabc')
        False
        >>> are_characters_same('abcd', 'dddddddabce')
        False
        >>> are_characters_same('eabcdzzzz', 'dddzzzzzzzddddabc')
        False
    """
    return sorted(set(s1)) == sorted(set(s2))
--------------------------------------------------------------------------------
55: failed: name 'fib' is not defined
def fibonacci(n: int) -> int:
    """
    Calculate the n-th Fibonacci number.

    Args:
        n (int): The index of the Fibonacci number to calculate.

    Returns:
        int: The n-th Fibonacci number.
    """
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)
--------------------------------------------------------------------------------
57: failed: name 'monotonic' is not defined
def is_monotonic(nums: list) -> bool:
    """
    Determine if a list of numbers is monotonic (either non-increasing or non-decreasing).

    Args:
        nums (list): A list of numbers.

    Returns:
        bool: True if the list is monotonic, False otherwise.
    """
    is_increasing = True
    is_decreasing = True

    for i in range(1, len(nums)):
        if nums[i] > nums[i - 1]:
            is_decreasing = False
        if nums[i] < nums[i - 1]:
            is_increasing = False

    return is_increasing or is_decreasing
--------------------------------------------------------------------------------
61: failed: name 'correct_bracketing' is not defined
def is_balanced_brackets(brackets: str) -> bool:
    """
    Checks if the given string of brackets is balanced.

    Args:
        brackets (str): A string of opening and closing brackets.

    Returns:
        bool: True if the brackets are balanced, False otherwise.

    Examples:
        >>> is_balanced_brackets("(")
        False
        >>> is_balanced_brackets("()")
        True
        >>> is_balanced_brackets("(()())")
        True
        >>> is_balanced_brackets(")(()")
        False
    """
    stack = []
    for bracket in brackets:
        if bracket == "(":
            stack.append(bracket)
        elif bracket == ")":
            if not stack:
                return False
            stack.pop()
    return not stack
--------------------------------------------------------------------------------
64: failed: name 'vowels_count' is not defined
FIX = """
Add more test cases.
"""

def count_vowels(word):
    """
    Counts the number of vowels in a given word.

    Args:
        word (str): The input word.

    Returns:
        int: The number of vowels in the word.
    """
    vowels = "aeiouAEIOU"
    count = sum(char in vowels for char in word)
    if word[-1] in "yY":
        count += 1
    return count
--------------------------------------------------------------------------------
66: failed: name 'digitSum' is not defined
def digit_sum(string: str) -> int:
    """
    Calculates the sum of ASCII codes of uppercase characters in a given string.

    Args:
        string (str): The input string.

    Returns:
        int: The sum of ASCII codes of uppercase characters in the input string.
    """
    return sum(ord(char) for char in string if char.isupper())
--------------------------------------------------------------------------------
70: failed: name 'strange_sort_list' is not defined
def strange_sort(lst):
    """
    Given a list of integers, return the list in a "strange" order.
    The strange order is achieved by alternating between the minimum and maximum
    values of the remaining elements in the list.

    Examples:
    strange_sort([1, 2, 3, 4]) == [1, 4, 2, 3]
    strange_sort([5, 5, 5, 5]) == [5, 5, 5, 5]
    strange_sort([]) == []
    """
    result = []
    while lst:
        result.append(min(lst))
        lst.remove(min(lst))
        if lst:
            result.append(max(lst))
            lst.remove(max(lst))
    return result
--------------------------------------------------------------------------------
71: failed: name 'triangle_area' is not defined
def calculate_triangle_area(side_a, side_b, side_c):
    """
    Calculate the area of a triangle given the lengths of its three sides.

    Args:
        side_a (float): Length of the first side of the triangle.
        side_b (float): Length of the second side of the triangle.
        side_c (float): Length of the third side of the triangle.

    Returns:
        float: The area of the triangle rounded to 2 decimal places, or -1 if the three sides do not form a valid triangle.
    """
    if side_a + side_b <= side_c or side_a + side_c <= side_b or side_b + side_c <= side_a:
        return -1

    semi_perimeter = (side_a + side_b + side_c) / 2
    triangle_area = (semi_perimeter * (semi_perimeter - side_a) * (semi_perimeter - side_b) * (semi_perimeter - side_c)) ** 0.5
    return round(triangle_area, 2)
--------------------------------------------------------------------------------
75: failed:
def is_multiply_prime(a: int) -> bool:
    """
    Checks if the given number is the multiplication of 3 prime numbers.

    Args:
        a (int): The number to be checked.

    Returns:
        bool: True if the number is the multiplication of 3 prime numbers, False otherwise.
    """
    def is_prime(n: int) -> bool:
        """
        Checks if the given number is prime.

        Args:
            n (int): The number to be checked.

        Returns:
            bool: True if the number is prime, False otherwise.
        """
        if n < 2:
            return False
        for i in range(2, int(n ** 0.5) + 1):
            if n % i == 0:
                return False
        return True

    for i in range(2, 101):
        if is_prime(i):
            for j in range(2, 101):
                if is_prime(j) and i != j:
                    for k in range(2, 101):
                        if is_prime(k) and i != k and j != k:
                            if i * j * k == a:
                                return True
    return False
--------------------------------------------------------------------------------
77: failed: name 'iscube' is not defined
def is_cube(n: int) -> bool:
    """
    Determines if a given integer is a cube of some integer.

    Args:
        n (int): The integer to check.

    Returns:
        bool: True if the input is a cube, False otherwise.
    """
    if n == 0:
        return True
    cube_root = n ** (1/3)
    return cube_root.is_integer()
--------------------------------------------------------------------------------
83: failed: name 'starts_one_ends' is not defined
def count_numbers_starting_or_ending_with_one(n):
    """
    Given a positive integer n, return the count of the numbers of n-digit
    positive integers that start or end with 1.
    """
    if n == 1:
        return 1
    else:
        return 18 * (10 ** (n - 2))
--------------------------------------------------------------------------------
85: failed: name 'add' is not defined
def add_even_at_odd_indices(lst):
    """
    Given a non-empty list of integers, add the even elements that are at odd indices.

    Examples:
        add_even_at_odd_indices([4, 2, 6, 7]) ==> 2
    """
    return sum(num for i, num in enumerate(lst) if i % 2 != 0 and num % 2 == 0)
--------------------------------------------------------------------------------
91: failed: name 're' is not defined
def is_bored(text: str) -> int:
    """
    Count the number of sentences starting with "I" in the given text.

    Args:
        text (str): The input text.

    Returns:
        int: The number of sentences starting with "I".
    """
    sentences = [sentence.strip() for sentence in re.split(r'[.?!]', text)]
    return sum(1 for sentence in sentences if sentence.startswith('I '))
--------------------------------------------------------------------------------
93: failed: This prints if this assert fails 1 (good for debugging!)
def encode(message):
    """
    Encodes a message by swapping the case of all letters and replacing
    all vowels with the letter that appears 2 places ahead of that vowel
    in the English alphabet.

    Args:
        message (str): The message to be encoded.

    Returns:
        str: The encoded message.
    """
    vowels = "aeiouAEIOU"
    vowel_replacements = {v: chr(ord(v) + 2) for v in vowels}
    encoded_message = "".join(
        vowel_replacements.get(char, char.swapcase()) for char in message
    )
    return encoded_message
--------------------------------------------------------------------------------
94: failed: name 'skjkasdkd' is not defined
def find_largest_prime_digit_sum(lst):
    """
    Find the largest prime value in the given list and return the sum of its digits.
    """
    def is_prime(n):
        """
        Check if a number is prime.
        """
        if n < 2:
            return False
        for i in range(2, int(n ** 0.5) + 1):
            if n % i == 0:
                return False
        return True

    largest_prime = max(filter(is_prime, lst), default=0)
    if largest_prime == 0:
        return 0
    return sum(int(digit) for digit in str(largest_prime))
--------------------------------------------------------------------------------
97: failed: name 'multiply' is not defined
def multiply_unit_digits(a, b):
    """
    Multiplies the unit digits of two integers.

    Args:
        a (int): The first integer.
        b (int): The second integer.

    Returns:
        int: The product of the unit digits of the input integers.
    """
    return abs(a % 10) * abs(b % 10)
--------------------------------------------------------------------------------
98: failed: name 'count_upper' is not defined
def count_upper_vowels(string):
    """
    Count the number of uppercase vowels in the string at even indices.

    Args:
        string (str): The input string.

    Returns:
        int: The count of uppercase vowels at even indices.
    """
    vowels = "AEIOU"
    count = 0
    for i, char in enumerate(string):
        if i % 2 == 0 and char in vowels and char.isupper():
            count += 1
    return count
--------------------------------------------------------------------------------
99: failed: name 'copysign' is not defined
def closest_integer(value):
    """
    Return the closest integer to the given value.
    If the value is equidistant from two integers, round it away from zero.
    """
    try:
        num = float(value)
    except ValueError:
        return 0

    if num.is_integer():
        return int(num)

    if abs(num - round(num)) == 0.5:
        return int(num + copysign(0.5, num))

    return round(num)
--------------------------------------------------------------------------------
106: failed: name 'math' is not defined
def f(n):
    """
    Implement the function f that takes n as a parameter,